<template>
  <div class="price-slider-container">
    <div class="price-range">
      <span>{{ currencySign +' '+ lowestPrices }}</span>
      <span>{{ currencySign +' '+ highestPrices }}</span>
    </div>
    <no-ssr placeholder="loading..." placeholader-tag="span">
      <vue-slider
        v-model="value"
        v-bind="options"
        @change="setPrice"
        @drag-end="$emit('change', {
          'id': lowestPrices+'-'+highestPrices,
          'type': 'price',
          'from': lowestPrices,
          'to': highestPrices,
          'single': true
        })"
        :tooltip-formatter="options.formatter"
        class="mx10"
      />
    </no-ssr>
  </div>
</template>

<script>
import NoSSR from 'vue-no-ssr'
import PriceSelector from '@vue-storefront/core/compatibility/components/PriceSelector'
import 'vue-slider-component/theme/default.css'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import config from 'config'
import { quickSearchByQuery } from '@vue-storefront/core/lib/search'
import { buildFilterProductsQuery, isServer } from '@vue-storefront/core/helpers'
import { mapGetters } from 'vuex'

const PriceSliderComponents = {}
if (process.browser) {
  let VueSlider = require('vue-slider-component')
  PriceSliderComponents['vue-slider'] = VueSlider
}
PriceSliderComponents['no-ssr'] = NoSSR

export default {
  name: 'PriceSlider',
  data () {
    const storeView = currentStoreView()
    return {
      highestPrices: '',
      lowestPrices: '',
      fetchedHighestPrice: '',
      fetchedLowestPrice: '',
      value: [this.lowestPrices, this.highestPrices],
      options: {
        min: this.lowestPrices,
        max: this.highestPrices,
        'clickable': false,
        'height': 4,
        'dot-size': 22,
        'dot-style': {
          'backgroundColor': '#FFFFFF',
          'zIndex': 2
        },
        'tooltip-dir': ['bottom', 'bottom'],
        formatter: storeView.i18n.currencySign + ' {value}',
        'process-style': {
          'backgroundColor': '#2D242D'
        },
        'tooltip-style': {
          'backgroundColor': '#2D242D',
          'color': '#FFFFFF',
          'border-color': '#000',
          'padding': '7px 10px'
        }
      },
      fromPrice: this.lowestPrices,
      toPrice: this.highestPrices,
      startPoint: this.lowestPrices,
      endPoint: this.highestPrices,
      currencySign: storeView.i18n.currencySign
    }
  },
  beforeMount () {
    this.$bus.$on('reset-price-slider', this.resetPriceSlider)
  },
  beforeDestroy () {
    this.$bus.$off('reset-price-slider', this.resetPriceSlider)
  },
  mounted () {
    this.highestPrice();
  },
  methods: {
    setPrice: function (e) {
      let val = e
      this.lowestPrices = val[0]
      this.highestPrices = val[1]
    },
    resetPriceSlider () {
      this.lowestPrices = this.fetchedLowestPrice
      this.highestPrices = this.fetchedHighestPrice
      this.value = [this.fetchedLowestPrice, this.fetchedHighestPrice]
      this.options.min = this.fetchedLowestPrice
      this.options.max = this.fetchedHighestPrice
    },
    async highestPrice () {
      const searchQuery = this.getCurrentSearchQuery
      let filterQr = buildFilterProductsQuery(this.getCurrentCategory, searchQuery.filters)
      const searchResult = await quickSearchByQuery({
        query: filterQr,
        sort: 'final_price:desc',
        size: 1000
      })

      this.highestPrices = Math.floor(searchResult.items[0]['final_price'])
      this.lowestPrices = Math.ceil(searchResult.items[searchResult.items.length - 1]['final_price'])
      this.fetchedHighestPrice = this.highestPrices
      this.fetchedLowestPrice = this.lowestPrices
      this.options.min = this.lowestPrices
      this.options.max = this.highestPrices
      this.startPoint = this.lowestPrices
      this.endPoint = this.highestPrices
      this.value = [this.lowestPrices, this.highestPrices]
    }
  },
  components: PriceSliderComponents,
  mixins: [PriceSelector],
  computed: {
    ...mapGetters({
      getCategoryProducts: 'category-next/getCategoryProducts',
      getCurrentCategory: 'category-next/getCurrentCategory',
      getCurrentSearchQuery: 'category-next/getCurrentSearchQuery'
    })
  }
}
</script>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-secondary: color(secondary);
$gray-666666: color(gray-666666);
$black: color(black);

.vue-slider-component .vue-slider-dot {
  box-shadow: none;
}

.price-range {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 16px;
  color: $gray-666666;
}

.vue-slider {
  margin: 0 !important;
}

.vue-slider-rail {
  background-color: $gray-666666;
}

.vue-slider-process {
  background-color: $color-secondary !important;
}

.vue-slider-dot {
  z-index: 2;
}

.vue-slider-dot-handle {
  border: 1px solid rgba($black, 0.1);
  box-shadow: 0 3px 1px rgba($black, 0.05), 0 2px 2px rgba($black, 0.1), 0 3px 3px rgba($black, 0.05);
}
</style>
