<template>
  <div class="sidebar">
    <h4 class="sidebar__header relative flex">
      <span> {{ $t('Filter') }} </span>
      <span
        class="weight-400 sidebar__header__clear pointer sans-serif flex"
        @click="resetAllFilters"
        v-show="hasActiveFilters"
      >
        <i class="material-icons cl-accent mr5">
          cancel
        </i>
        <span>
          {{ $t('Clear filters') }}
        </span>
      </span>
    </h4>
    <div
      class="filter-widget"
      v-for="(filter, filterIndex) in availableFilters"
      :key="filterIndex"
    >
      <div v-if="filterIndex==='category_ids'">
        <h2>{{ $t('Category') }}</h2>
        <div class="category_filter">
          <category-selector
            context="category"
            class="category-select mb10 block"
            code="category_ids"
            v-for="(option, index) in filter"
            :key="index"
            :content="option.id"
            :variant="option"
            :selected-filters="getCurrentFilters"
            @change="$emit('changeFilter', $event)"
          />
        </div>
      </div>
      <div v-else-if="filterIndex==='price'">
        <h2>{{ $t('Price') }}</h2>
        <price-slider
          class="filter-widget-content"
          context="category"
          code="price"
          id="priceSlider"
          :from="0"
          :to="1000"
          :selected-filters="getCurrentFilters"
          @change="$emit('changeFilter', $event)"
        />
      </div>
      <div v-else-if="filterIndex==='stock.is_in_stock'">
        <h2>{{ $t('Stock') }}</h2>
        <div class="flex flex-wrap filter-widget-content">
          <stock-selector
            context="category"
            class="mr10 mb10 block"
            :code="filterIndex"
            v-for="(option, index) in filter"
            :key="index"
            :variant="option"
            :selected-filters="getCurrentFilters"
            @change="$emit('changeFilter', $event)"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PriceSlider from './PriceSlider';
import StockSelector from 'theme/components/core/StockSelector'
import pickBy from 'lodash-es/pickBy'
import { mapGetters, mapState } from 'vuex'
import config from 'config'
import CategorySelector from 'theme/components/core/CategorySelector'

export default {
  data () {
    return {
      listOfCategories: []
    }
  },
  components: {
    PriceSlider,
    StockSelector,
    CategorySelector
  },
  props: {
    filters: {
      type: Object,
      required: true
    }
  },
  computed: {
    ...mapGetters({
      getCurrentCategory: 'category-next/getCurrentCategory'
    }),
    hasActiveFilters () {
      return this.$store.getters['category-next/hasActiveFilters']
    },
    getCurrentFilters () {
      return this.$store.getters['category-next/getCurrentFilters']
    },
    availableFilters () {
      return pickBy(this.filters, (filter, filterType) => { return (filter.length && !this.$store.getters['category-next/getSystemFilterNames'].includes(filterType)) })
    }
  },
  methods: {
    resetAllFilters () {
      this.$store.dispatch('category-next/resetSearchFilters');
      const restsliderData = {
        from: Math.floor(config.aureatelabs.productList.priceSlider.from),
        to: Math.floor(config.aureatelabs.productList.priceSlider.to)
      }
      this.$bus.$emit('reset-price-slider', restsliderData)
    },
    sortById (filters) {
      return [...filters].sort((a, b) => { return a.id - b.id })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray-D8D8D8: color(gray-D8D8D8);
.sidebar {
  &__header {
    justify-content: space-between;
    flex-wrap: wrap;
    align-items:center;
    border-bottom: 1px solid $gray-D8D8D8;
    padding-bottom:10px;

    @media (max-width: 767px) {
      justify-content: center;
    }

    &__clear {
      font-size: .8em;
      min-width: 102px;
      @media only screen and (min-width: 768px) and (max-width: 770px) {
        margin-top: 20px;
      }
      @media (max-width: 767px) {
        display: none;
      }
    }
  }

  &__inline-selecors {
    display: flex;
  }
}
</style>

<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);
$gray-666666: color(gray-666666);
$gray-D8D8D8: color(gray-D8D8D8);
$blue-1895F5: color(blue-1895F5);

.filter-widget {
  padding-bottom: 40px;
  h2{
    font-weight:400;
    font-size:16px;
  }
  @media (max-width: 767px) {
    padding-bottom: 15px;
  }

  & + .filter-widget {
    border-top: 1px solid $gray-D8D8D8;
    padding-top: 40px;

    @media (max-width: 767px) {
      padding-top: 15px;
    }
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.category-filter {
  padding-bottom: 27px;
}

.category-list {
  list-style: none;
  margin: 0 -30px;

  @media (max-width: 767px) {
    margin: 0 -10px;
  }

  .menu-link {
    padding: 13px 30px;
    font-weight: 600;
    color: $gray-666666;
    background-color: transparent;
    display: flex;
    justify-content: space-between;

    @media (max-width: 767px) {
      padding: 13px 10px;
    }

    &.router-link-active,
    &:hover {
      color: $color-secondary;
      background-color: rgba($color-secondary, 0.1);
    }

    .pull-right {
      margin-left: 10px;
    }
  }
}
.sidebar__header__clear{
  line-height:1;
  i, span{
    line-height:1;
    font-size:16px;
  }
}

@media (max-width: 767px) {
  .filter-widget-content {
    padding: 0 20px;
  }
}

@media (max-width: 575px) {
  .filter-widget-content {
    padding: 0 10px;
  }
}
</style>
