@import 'block/product_details';
@import 'block/my_account';
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$white: color(white);
$black: color(black);
$gray-333435: color(gray-333435);
$color-primary: color(primary);
$color-secondary: color(secondary);
$gray-EEEEEE: color(gray-EEEEEE);
$gray-A3A3A3: color(gray-A3A3A3);
$gray-D8D8D8: color(gray-D8D8D8);
$gray-666666: color(gray-666666);
$burnt-sienna: color(burnt-sienna);
$blue-1895F5: color(blue-1895F5);
$forest-green: color(forest-green);

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/MontserratLight.eot');
  src: url('../assets/fonts/MontserratLight.eot') format('embedded-opentype'),
       url('../assets/fonts/MontserratLight.woff2') format('woff2'),
       url('../assets/fonts/MontserratLight.woff') format('woff'),
       url('../assets/fonts/MontserratLight.ttf') format('truetype'),
       url('../assets/fonts/MontserratLight.svg#MontserratLight') format('svg');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/MontserratRegular.eot');
  src: url('../assets/fonts/MontserratRegular.eot') format('embedded-opentype'),
       url('../assets/fonts/MontserratRegular.woff2') format('woff2'),
       url('../assets/fonts/MontserratRegular.woff') format('woff'),
       url('../assets/fonts/MontserratRegular.ttf') format('truetype'),
       url('../assets/fonts/MontserratRegular.svg#MontserratRegular') format('svg');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/MontserratMedium.eot');
  src: url('../assets/fonts/MontserratMedium.eot') format('embedded-opentype'),
       url('../assets/fonts/MontserratMedium.woff2') format('woff2'),
       url('../assets/fonts/MontserratMedium.woff') format('woff'),
       url('../assets/fonts/MontserratMedium.ttf') format('truetype'),
       url('../assets/fonts/MontserratMedium.svg#MontserratMedium') format('svg');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/MontserratSemiBold.eot');
  src: url('../assets/fonts/MontserratSemiBold.eot') format('embedded-opentype'),
       url('../assets/fonts/MontserratSemiBold.woff2') format('woff2'),
       url('../assets/fonts/MontserratSemiBold.woff') format('woff'),
       url('../assets/fonts/MontserratSemiBold.ttf') format('truetype'),
       url('../assets/fonts/MontserratSemiBold.svg#MontserratSemiBold') format('svg');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/MontserratBold.eot');
  src: url('../assets/fonts/MontserratBold.eot') format('embedded-opentype'),
       url('../assets/fonts/MontserratBold.woff2') format('woff2'),
       url('../assets/fonts/MontserratBold.woff') format('woff'),
       url('../assets/fonts/MontserratBold.ttf') format('truetype'),
       url('../assets/fonts/MontserratBold.svg#MontserratBold') format('svg');
  font-weight: 700;
  font-display: swap;
}

// Default
*, ::after, ::before {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

::-moz-selection {
  color: $white;
  background-color: $color-secondary;
}

::selection {
  /*color: $white;
  background-color: $color-secondary;*/
  background-color: transparent;
}

:focus {
  outline-offset: 0;
  outline: 0 none;
}

body {
  background-image: url(~theme/assets/body-bg.jpg);
  background-repeat: repeat;
  background-size: auto;
  background-position: 0 0;
  color: $color-primary;
}

a, button, input[type="submit"], input[type="button"] {
  transition: all 0.5s ease 0s;
}

p {
  margin: 0 0 15px 0;
}

p:last-child {
  margin-bottom: 0;
}

p:empty {
  margin: 0;
}

.site-header {
  color: $white;
}

.site-header a {
  color: $white;

  &.router-link-exact-active,
  &:hover {
    color: $gray-333435;
  }
}

// a.underline:after, a:not(.no-underline):hover:after {
//   display: none;
// }

a {
  color: $color-primary;

  &:hover {
    color: $color-secondary;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.object-cover {
  font-family: 'object-fit: cover;';
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;

  @media (max-width: 767px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.custom-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;

  li {
    margin-bottom: 20px;
    padding-left: 30px;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }

    &::after {
      content: "";
      background-image: url(~theme/assets/blue-tick.svg);
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: auto;
      width: 16px;
      height: 16px;
      position: absolute;
      left: 0;
      top: 1px;
      bottom: 0;
      margin: auto;
    }
  }
}

.shaded-box {
  box-shadow: 0 0 20px rgba($black, 0.08);
  border-radius: 10px;
  background-color: $white;
  padding: 40px 55px;
}

.shaded-strip {
  border-top: 1px solid $gray-EEEEEE;
  border-bottom: 1px solid $gray-EEEEEE;
  box-shadow: 0 0 20px rgba($black, 0.08);
  padding: 40px 0;
  background-color: $white;
}

.slider-spacing {
  padding: 0 55px;
}

.title-sec {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.sec-title {
  font-size: 20px;
  position: relative;
  z-index: 1;

  @media (max-width: 767px) {
    font-size: 18px;
  }

  .sec-title-wrap {
    .sec-title-cover-cover {
      position: relative;
      font-weight: 400;
      &::after {
        content: "";
        background-image: url(~theme/assets/title-bg.svg);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;
        position: absolute;
        width: 48px;
        height: 43px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: -1;
      }
      @media (max-width: 767px) {
        font-size: 16px;
        span{
          display: block;
          font-size: 14px;
        }
      }
    }
  }

  .badge-mobile {
    display: none;

    @media (max-width: 767px) {
      display: inherit;
    }
  }
}

.badge-enabled {
  .sec-title-cover {
    padding-left: 68px;

    @media (max-width: 767px) {
      padding-left: 0;
    }
  }
}

.sec-subtitle {
  font-size: 16px;
  font-weight: 300;
}

.VueCarousel-dot,
.VueCarousel-navigation-button:focus {
  outline: 0 none !important;
}
.button-btn{
  background: transparent;
  border-radius: 4px;
}
.btn-outlined {
  font-size: 13px;
  background-color: transparent;
  font-weight: 500;
  color: $gray-A3A3A3;
  border: 1px solid $gray-A3A3A3;
  padding: 10px;
  border-radius: 6px;

  &:hover {
    color: $color-primary;
    background-color: transparent;
    border-color: $gray-A3A3A3;
    opacity: 0.6;
  }
  &:disabled{
    opacity: 0.6;
  }
}

.sidebar-close {
  position: absolute;
  top: 30px;
  cursor: pointer;

  @media (max-width: 1919px) {
    width: 60px;
    top: 20px;
  }

  @media (max-width: 767px) {
    width: 40px;
    top: 10px;
  }
}

.right-sidebar {
  .sidebar-close {
    left: -75px;

    @media (max-width: 1919px) {
      left: -65px;
    }

    @media (max-width: 767px) {
      left: 0;
    }
  }
}

.left-sidebar {
  .sidebar-close {
    right: -75px;

    @media (max-width: 1919px) {
      right: -65px;
    }

    @media (max-width: 767px) {
      right: 0;
    }
  }
}

.hamburger-sidebar {
  .sidebar-close {
    @media (max-width: 767px) {
      right: -50px;
    }
  }
}

.sidebar-title {
  border-bottom: 1px solid $gray-D8D8D8;
  margin-bottom: 30px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;

  @media (max-width: 767px) {
    margin-bottom: 16px;
  }

  h2 {
    margin: 0;

    @media (max-width: 767px) {
      font-size: 20px;
      line-height: 1.2;
    }
  }
}

.sidebar-wrap {
  .product-list {
    margin: 0;
    padding: 0;
  }
}

@keyframes rotate-infinite {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.btn-fill {
  border: 1px solid;
  background-color: transparent;
  color: $color-primary;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 700;
  padding: 13px 31px;

  &:hover {
    opacity: 0.6;
  }

  &[disabled],
  &:disabled {
    opacity: 0.6;
    cursor: pointer;
    pointer-events: none;
  }

  @media (max-width: 991px) {
    padding: 13px 10px;
  }

  @media (max-width: 767px) {
    font-size: 13px;
    font-weight: 600;
  }
}

.btn-primary {
  border-color: $color-primary;
  background-color: $color-primary;
  color: $white;

  &:hover {
    border-color: $color-primary;
    background-color: $color-primary;
    color: $white;
  }
}

.btn-secondary {
  border-color: $color-secondary;
  background-color: $color-secondary;
  color: $white;

  &:hover {
    border-color: $color-secondary;
    background-color: $color-secondary;
    color: $white;
  }
}

.blue-link:hover,
.blue-hover {
  color: $gray-666666;

  svg {
    rect,
    path {
      fill: $gray-666666;
      transition: all 0.5s ease 0s;
    }
  }
}

.blue-hover:hover,
.blue-link {
  color: $blue-1895F5;

  svg {
    rect,
    path {
      fill: $blue-1895F5;
      transition: all 0.5s ease 0s;
    }
  }
}

.red-link:hover,
.red-hover {
  color: $gray-666666;

  svg {
    rect,
    path {
      fill: $gray-666666;
      transition: all 0.5s ease 0s;
    }
  }
}

.red-hover:hover,
.red-link {
  color: $burnt-sienna;

  svg {
    rect,
    path {
      fill: $burnt-sienna;
      transition: all 0.5s ease 0s;
    }
  }
}

.signup-buttons {
  .btn-full {
    &:hover {
      svg {
        path {
          stroke: transparent;
        }
      }
    }
  }
}

.nowrap {
  white-space: nowrap;
}

.mx-datepicker {
  .mx-input {
    border: 0 none;
    border-bottom: 1px solid $gray-D8D8D8;
    border-radius: 0;
    box-shadow: none;
  }
}

.actions-sec {
  @media (max-width: 480px) {
    flex-direction: column;
    justify-content: center;

    *[class*="ml"] {
      margin-left: 0;
      margin-top: 20px;
    }

    *[class*="mr"] {
      margin-right: 0;
      margin-top: 20px;
    }

    *[class*="btn"] {
      width: 100% !important;
    }
  }
}

.table-responsive {
  @media (max-width: 767px) {
    overflow: auto;
  }
}

.flex-wrap {
  flex-wrap: wrap;
}

.swiper-button-prev, .swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  line-height: 1;
  background-color:$white;
  box-shadow: 0 0 9px #ddd;
  width: 36px;
  height: 36px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 100%;
  svg{
    width: 10px;
    height: 18px;
    path{
      stroke:$blue-1895F5;
    }
  }
  &:hover{
    background: $blue-1895F5;
    svg{
      path{
        stroke:$white;
      }
    }
  }
  &.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none;
  }
}

.swiper-pagination {
  margin-top: 35px;
  display: block;
  font-size: 0;
  position: static;
  z-index: 1;
  text-align: center;

  @media (max-width: 767px) {
    margin-top: 25px;
  }

  .swiper-pagination-bullet {
    width: 25px;
    height: 3px;
    padding: 0;
    margin: 5px 4px 0;
    border-radius: 0;
    background-color: $gray-D8D8D8;
    display: inline-block;
    vertical-align: top;

    &.swiper-pagination-bullet-active {
      background-color: $color-secondary;
    }
  }
}

.product-count {
  color: $color-secondary;
  margin-bottom: 30px;
  font-size: 16px;
  text-align: right;

  @media (max-width: 767px) {
    font-size: 14px;
    margin-bottom: 16px;
  }
}

.login-form-wrap {
  overflow: hidden;
}

.login-form {
  // overflow-y: auto;
  // overflow-x: hidden;
  // max-height: 70vh;
  @media (max-width: 650px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.google-captcha {
  iframe {
    @media (max-width: 767px) {
      transform: scale(0.8);
      width: 100%;
      transform-origin: 0 0;
    }
  }
}

.bordered-title {
  border-bottom: 3px solid $color-secondary;
  padding-bottom: 10px;
}

.cms-p {
  line-height: 1.6;
}

.side-bordered-title {
  padding-left: 10px;
  border-left: 3px solid $color-secondary;
}

.cms-ul {
    padding-left: 18px;
    list-style: square;
    color: $color-secondary;
    line-height: 1.6;
    li > span {
      color: $color-primary;
    }
}

.cms-ol {
    padding-left: 18px;
    font-weight: 700;
    line-height: 1.6;
    li > span {
      font-weight: 400;
    }
}

.embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
}

.embed-responsive::before {
    display: block;
    content: "";
}

.embed-responsive-16by9::before {
    padding-top: 56.25%;
}

.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.let-us-help-btn {
  font-size: 15px;
  display: inline-block;
  text-align: center;
  margin: 0;
  color: $color-secondary;
  background-color: $white;
  border: 2px solid $color-secondary;
  border-radius: 30px;
  font-weight: 400;
  padding: 6px 10px;

  &:hover {
    opacity: 0.8;
  }

  @media (max-width: 767px) {
    margin-bottom: 20px;
    font-size: 13px;

    i {
      font-size: 18px;
    }
  }

  & > * {
    vertical-align: middle;
    line-height: 1;
  }
}

h1.page-title {
  position: relative;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 50px;
  text-align: center;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 3px;
    // background-color: $blue-1895F5;
    margin: auto;
  }
  @media (max-width:767px) {
    padding-bottom: 14px;
    font-size: 24px;
    margin-bottom: 25px;
  }
}

.checkbox-with-tooltip {
  input:checked + label:after {
    top: 9px;
  }
  input[type="checkbox"],
  label:before {
    top: 5px;
  }
}

.lds-dual-ring {
  display: inline-block;
  width: 53px;
  height: 53px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 44px;
  height: 44px;
  margin: 6px;
  border-radius: 50%;
  border: 5px solid $color-secondary;
  border-color: $color-secondary transparent $color-secondary transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.see-all-btn{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  .see-all{
    max-width: 130px;
    text-align: center;
    padding: 30px;
    span{
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.09);
      border-radius: 100%;
      width: 50px;
      height: 50px;
      margin-bottom: 10px;
      display:inline-flex;
      margin: 0 auto;
      padding: 14px 0 14px 3px;
      justify-content: center;
      transition: all 0.5s ease 0s;
      svg{
        transform: rotate(180deg);
        opacity: 1;
        width: 14px;
        @media (max-width: 600px) {
          width: auto;
          height:12px;
        }
        path {
          transition: all 0.5s ease 0s;
        }
      }
      @media (max-width: 600px) {
        width: 25px;
        height: 25px;
        padding: 5px;
        line-height: 16px;
        display: block;
      }
    }
    strong{
      display: block;
      font-weight: 400;
      color: $color-secondary;
      margin: 15px 0 0 0;
      min-width: 65px;
    }
    &:hover {
      span {
        background-color: $color-secondary;
      }
      svg {
        path {
          stroke: $white;
        }
      }
    }
  }
}

.primary-btn{
  background: $blue-1895F5;
  border: solid 1px $blue-1895F5;
  color: $white;
  font-size: 12px;
  border-radius:6px;
  padding: 10px;
  width: 100%;
  line-height: 22px;
  &:hover{
    background: rgba($color: $blue-1895F5, $alpha: 0.8);
    border-color:rgba($color: $blue-1895F5, $alpha: 0.8);
  }
  &:disabled{
    background: rgba($color: $blue-1895F5, $alpha: 0.5);
    border-color:rgba($color: $blue-1895F5, $alpha: 0.2);
    pointer-events: none;
  }
  .in-stock{
    justify-content:center;
    align-items: center;
    display: flex;
  }
  .out-of-stock{
    display: none;
  }
  svg{
    fill: $white;
    stroke:$white;
    circle,
    path{
      fill: $white;
      stroke:$white;
    }
  }
  &.secondary-btn{
    background: rgba($color: $blue-1895F5, $alpha: 0.2);
    border-color:rgba($color: $blue-1895F5, $alpha: 1);
    color: $blue-1895F5;
    svg{
      fill: $blue-1895F5;
      stroke:$blue-1895F5;
      circle,
      path{
        fill: $blue-1895F5;
        stroke:$blue-1895F5;
      }
    }
    &:hover{
      background: rgba($color: $blue-1895F5, $alpha: 1);
      color: $white;
      svg{
        fill: $white;
        stroke:$white;
        circle,
        path{
          fill: $white;
          stroke:$white;
        }
      }
    }
    &:disabled{
      background: rgba($color: $gray-EEEEEE, $alpha: 1);
      border-color:rgba($color: $gray-A3A3A3, $alpha: 1);
      color: $gray-A3A3A3;
      pointer-events: none;
      .in-stock{
        display: none;
      }
      .out-of-stock{
        display: block;
      }
    }
  }
}
.sample-btn{
  background: transparent;
  color: $forest-green;
  border: solid 1px $forest-green; 
  font-size: 12px;
  border-radius:6px;
  padding: 10px;
  width: 100%;
  line-height: 22px;
  &:hover{
    background: rgba($color: $forest-green, $alpha: 0.2);
  }
  &:disabled{
    border-color:rgba($color: $gray-A3A3A3, $alpha: 1);
    color: $gray-A3A3A3;
    .in-stock{
      display: none;
    }
    .out-of-stock{
      display: block;
    }
  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
  -moz-appearance:textfield;
}

@media screen and (device-aspect-ratio: 2/3) {
  select, textarea, input[type="text"], input[type="password"],
  input[type="datetime"], input[type="datetime-local"],
  input[type="date"], input[type="month"], input[type="time"],
  input[type="week"], input[type="number"], input[type="email"],
  input[type="url"]{ font-size: 16px; }
}

@media screen and (device-aspect-ratio: 40/71) {
  select, textarea, input[type="text"], input[type="password"],
  input[type="datetime"], input[type="datetime-local"],
  input[type="date"], input[type="month"], input[type="time"],
  input[type="week"], input[type="number"], input[type="email"],
  input[type="url"]{ font-size: 16px; }
}

@media screen and (device-aspect-ratio: 375/667) {
  select, textarea, input[type="text"], input[type="password"],
  input[type="datetime"], input[type="datetime-local"],
  input[type="date"], input[type="month"], input[type="time"],
  input[type="week"], input[type="number"], input[type="email"],
  input[type="url"]{ font-size: 16px; }
}

@media screen and (device-aspect-ratio: 9/16) {
  select, textarea, input[type="text"], input[type="password"],
  input[type="datetime"], input[type="datetime-local"],
  input[type="date"], input[type="month"], input[type="time"],
  input[type="week"], input[type="number"], input[type="email"],
  input[type="url"]{ font-size: 16px; }
}
