<template>
  <div class="account-block shaded-box">
    <!-- My orders header -->
    <div class="row mb30">
      <div class="col-xs-12 profile-title">
        <h3 class="m0 mb5">
          {{ $t('My orders') }}
        </h3>
        <p class="f-s-15 cl-gray-666666">
          {{ $t('See details, follow up and add to your order here.') }}
        </p>
      </div>
    </div>
    <!-- My orders body -->
    <div class="order-table brdr-1 brdr-cl-gray-D8D8D8">
      <div class="table-responsive" v-show="!isHistoryEmpty">
        <table>
          <thead>
            <tr>
              <th class="p20 lh20">
                {{ $t('Order ID') }}
              </th>
              <th class="p20 lh20">
                {{ $t('Date time') }}
              </th>
              <th class="p20 lh20">
                {{ $t('Tracking Number') }}
              </th>
              <th class="p20 lh20">
                {{ $t('Name') }}
              </th>
              <th class="p20 lh20">
                {{ $t('Purchase amount') }}
              </th>
              <th class="p20 lh20">
                {{ $t('Status') }}
              </th>
              <th class="p20 lh20">
&nbsp;
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="brdr-top-1 brdr-cl-gray-D8D8D8" v-for="order in ordersHistory" :key="order.entity_id">
              <td class="lh25">
                <label class="visible-xs">{{ $t('Order ID') }}</label>
                #{{ order.increment_id }}
              </td>
              <td class="lh25">
                <label class="visible-xs">{{ $t('Date and Time') }}</label>
                {{ order.created_at | date(null, storeView) }}
              </td>
              <td class="lh25">
                <label class="visible-xs">{{ $t('Tracking Number') }}</label>
                &nbsp;
              </td>
              <td class="lh25">
                <label class="visible-xs">{{ $t('Name') }}</label>
                {{ order.customer_firstname }} {{ order.customer_lastname }}
              </td>
              <td class="lh25">
                <label class="visible-xs">{{ $t('Price') }}</label>
                {{ order.grand_total | price(storeView) }}
              </td>
              <td class="lh25">
                <label class="visible-xs">{{ $t('Status') }}</label>
                {{ order.status | capitalize }}
              </td>
              <td class="lh25">
                <span class="relative dropdown">
                  <i class="material-icons pointer">more_horiz</i>
                  <div class="dropdown-content bg-cl-white align-left weight-500 fs-medium-small">
                    <router-link class="no-underline block py10 px15" :to="localizedRoute(`/my-account/orders/${order.entity_id}`)">
                      {{ $t('Detail') }}
                    </router-link>
                    <a href="#" class="no-underline block py10 px15" @click.prevent="remakeOrder(skipGrouped(order.items))">{{ $t('Buy again') }}</a>
                  </div>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-xs-12 h4" v-show="isHistoryEmpty">
        <p class="mt20">
          {{ $t('No orders yet') }}
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import UserOrder from '@vue-storefront/core/modules/order/components/UserOrdersHistory'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'

export default {
  mixins: [UserOrder],
  computed: {
    storeView () {
      return currentStoreView()
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/base/global_vars';
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-icon-hover: color(secondary, $colors-background);

table {
  border-collapse: collapse;
  width: 100%;

  th, td {
    text-align: left;
    padding: 20px;

    @media (max-width: 1199px) {
      padding: 10px;
    }

    @media (max-width: 767px) {
      text-align: center;
    }

    &.hide-on-xs {

      @media (max-width: 767px) {
        display: none;
      }

    }

  }

  i {
    vertical-align: middle;
  }

}

.dropdown {
  display: block;
  margin: -20px;
  padding: 20px;

  @media (max-width: 1199px) {
    margin: -10px;
    padding: 10px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    right: 10px;
    top: 75%;
    width: 160px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }

  a {
    opacity: .6;

    &:hover,
    &:focus {
      background-color: $color-icon-hover;
      opacity: 1;
    }

  }

  &:hover .dropdown-content {
    display: block;
  }

}

</style>
