<template>
  <div class="menu-header-links relative">
    <ul v-if="menuLinks.length > 0" class="flex menu-links p0 m0">
      <li
        class="menu-item"
        v-for="(menuLink, index) of menuLinks"
        :key="index"
      >
        <router-link
          class="main-menu-link menu-link"
          data-testid="categoryButton"
          :to="menuLink.link"
          v-if="menuLink.include_in_menu === 1"
        >
          {{ menuLink.label }}
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'QuickLinks',
  props: {
    menuLinks: {
      type: Array,
      required: true,
      default: () => []
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$white: color(white);

.menu-header-links {
  ul.menu-links {
    li.menu-item {
      list-style: none;
      margin-left: 17px;
      margin-right: 17px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      a.menu-link {
        position: relative;
        font-size: 14px;
        font-weight: 500;
        padding-top: 20px;
        padding-bottom: 20px;
        display: block;

        &::after {
          content: "";
          position: absolute;
          bottom: 11px;
          left: -8px;
          right: -8px;
          height: 2px;
          background-color: $white;
          transform: scale(0);
          transition: all 0.3s ease 0s;
        }

        &.router-link-exact-active,
        &:hover {
          color: $white;

          &::after {
            transform: scale(1);
          }
        }
      }
    }
  }
}
</style>
