<template>
  <div>
    <div class="brands-breadcrumbs">
      <no-ssr>
        <div class="container">
          <breadcrumbs
            :routes="[{name: 'PHOENIX', route_link: '/'}]"
            :active-route="$t('Shop By Brand')"
          />
        </div>
      </no-ssr>
    </div>
    <brand-slider class="pb20" :brands-data="brandsList" v-if="brandsList.length > 0" />
    <brand-filter :brands-data="brandsList" v-if="brandsList.length > 0" />
  </div>
</template>

<script>
import BrandSlider from 'theme/components/core/blocks/Brand/BrandSlider.vue'
import BrandFilter from 'theme/components/core/blocks/Brand/BrandFilter.vue'
import Breadcrumbs from '../components/core/Breadcrumbs.vue'
import { mapGetters } from 'vuex'
import NoSSR from 'vue-no-ssr'

export default {
  name: 'BrandsList',
  computed: {
    ...mapGetters({
      brandsList: 'brands/getBrandsList'
    })
  },
  components: {
    BrandSlider,
    BrandFilter,
    Breadcrumbs,
    'no-ssr': NoSSR
  },
  async created () {
    await this.$store.dispatch('brands/list', {});
  }
}
</script>

<style lang="scss">
.brands-breadcrumbs {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (max-width: 767px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
</style>
