<template>
  <div id="home">
    <div class="nosto_page_type" style="display:none">
      front
    </div>
    <!-- Main Slider Section -->
    <main-slider :banner-data="banner" />
    <!-- Recommended Products Section -->
    <section class="pt40 pb40 home-recommended-products-sec">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-xl-9 home-recommended-products-slider-wrap" v-if="isLogged">
            <product-listing-slider
              class="shaded-box"
              :title="$t('Hello') + ', ' + user.firstname"
              :sub-title="nostoList['frontpage-nosto-most-popular'] ? nostoList['frontpage-nosto-most-popular']['title'] : ''"
              :per-page-custom="[[0, ['auto', 15]], [768, [2, 15]], [992, [3, 25]], [1200, [4, 25]]]"
              :product-border-enabled="false"
              :limit="10"
              :pagination-enabled="false"
              :slider-id="'home-recommended-products'"
              :nosto-id="'frontpage-nosto-most-popular'"
              :products-list="computedRecommended"
              :slide-auto-play="false"
            />
          </div>
          <div class="col-md-8 col-xl-9 home-recommended-products-slider-wrap" v-else>
            <product-listing-slider
              class="shaded-box"
              :title="$t('Hello, Guest')"
              :sub-title="nostoList['frontpage-nosto-trending-products'] ? nostoList['frontpage-nosto-trending-products']['title'] : ''"
              :per-page-custom="[[0, ['auto', 15]], [768, [2, 15]], [992, [3, 25]], [1200, [4, 25]]]"
              :product-border-enabled="false"
              :limit="10"
              :pagination-enabled="false"
              :slider-id="'home-trending-products'"
              :nosto-id="'frontpage-nosto-trending-products'"
              :products-list="computedRecommended"
              :slide-auto-play="false"
            />
          </div>
          <div class="col-md-4 col-xl-3 featured-items-sec">
            <product-listing-slider
              class="shaded-box"
              :title="$t('Featured Items')"
              :per-page-custom="[[0, [1, 0]], [576, [3, 15]], [768, [1, 0]]]"
              :product-border-enabled="false"
              :limit="5"
              :pagination-enabled="true"
              :slider-id="'home-featured-products'"
              :nosto-id="'frontpage-nosto-featured-products'"
              :products-list="getFeaturedProducts"
              :loop="true"
            />
          </div>
        </div>
      </div>
    </section>
    <!-- Recommended For You Only Section -->
    <section class="pb40 home-recommended-products-for-you-sec" v-show="isLogged">
      <div class="container">
        <product-listing-slider
          class="shaded-box"
          :title="nostoList['frontpage-nosto-recommended-for-you'] ? nostoList['frontpage-nosto-recommended-for-you']['title'] : ''"
          :per-page-custom="[[0, ['auto', 15]], [768, [3, 15]], [992, [4, 25]], [1200, [5, 25]]]"
          :product-border-enabled="false"
          :limit="10"
          :pagination-enabled="false"
          :see-all-link="'/bf20-mar-online/bf20-ln-mg'"
          :slider-id="'home-recommended-products-for-you'"
          :nosto-id="'frontpage-nosto-recommended-for-you'"
          :products-list="computedRecommended"
          :slide-auto-play="false"
        />
      </div>
    </section>
    <!-- Top Ranked Categories Section -->
    <section class="pb40 home-top-ranked-products-sec">
      <div class="shaded-strip">
        <div class="container">
          <top-ranked-categories
            class="slider-spacing"
            :title="$t('Top Ranked Categories')"
            :per-page-custom="[[0, [3, 15]], [480, [4, 15]], [768, [3, 15]], [992, [4, 25]], [1200, [5, 25]]]"
            :product-border-enabled="false"
            :limit="10"
            :pagination-enabled="false"
            :see-all-link="'/brands'"
            :slider-id="'top-ranked-categories'"
            :categories="getTopRankedCategories"
            :slide-auto-play="false"
            :badge="'assets/hot-badge.svg'"
          />
          <!-- <top-ranked-categories
            class="slider-spacing"
            :categories="getTopRankedCategories"
            :title="$t('Top Ranked Categories')"
            :per-page-custom="[[0, 3], [480, 4], [768, 3], [1200, 5]]"
            :limit="10"
            :see-all-link="'/brands'"
            :badge="'assets/hot-badge.svg'"
          /> -->
        </div>
      </div>
    </section>
    <!-- Just Arrived Books Section -->
    <section class="pb40 home-just-arrived-products-sec">
      <div class="container">
        <product-listing-slider
          class="shaded-box"
          :title="nostoList['frontpage-nosto-just-arrived'] ? nostoList['frontpage-nosto-just-arrived']['title'] : ''"
          :per-page-custom="[[0, ['auto', 15]], [768, [3, 15]], [992, [4, 25]], [1200, [5, 25]]]"
          :product-border-enabled="false"
          :limit="10"
          :pagination-enabled="false"
          :see-all-link="'/bf20-mar-online/bf20-ln-mg'"
          :badge="'assets/new-badge.svg'"
          :slider-id="'home-just-arrived-products'"
          :nosto-id="'frontpage-nosto-just-arrived'"
          :products-list="computedRecommended"
          :slide-auto-play="false"
        />
      </div>
    </section>
    <!-- Best Picked From Light Novel Section -->
    <section class="pb40 home-best-picked-products-sec">
      <div class="container">
        <product-listing-slider
          class="shaded-box"
          :title="nostoList['frontpage-nosto-best-picked-products'] ? nostoList['frontpage-nosto-best-picked-products']['title'] : ''"
          :per-page-custom="[[0, ['auto', 15]], [768, [3, 15]], [992, [4, 25]], [1200, [5, 25]]]"
          :product-border-enabled="false"
          :limit="10"
          :pagination-enabled="false"
          :see-all-link="'/bf20-mar-online/bf20-ln-mg'"
          :slider-id="'home-best-picked-products'"
          :nosto-id="'frontpage-nosto-best-picked-products'"
          :products-list="computedRecommended"
          :slide-auto-play="false"
        />
      </div>
    </section>
    <!-- Bestseller Products Section -->
    <section class="pb40 home-bestseller-products-sec">
      <div class="container">
        <product-listing-slider
          class="shaded-box"
          :title="nostoList['frontpage-nosto-best-sellers'] ? nostoList['frontpage-nosto-best-sellers']['title'] : ''"
          :per-page-custom="[[0, ['auto', 15]], [768, [3, 15]], [992, [4, 25]], [1200, [5, 25]]]"
          :product-border-enabled="false"
          :limit="10"
          :pagination-enabled="false"
          :see-all-link="'/bf20-mar-online/bf20-ln-mg'"
          :badge="'assets/best-badge.svg'"
          :slider-id="'home-bestseller-products'"
          :nosto-id="'frontpage-nosto-best-sellers'"
          :products-list="computedRecommended"
          :slide-auto-play="false"
        />
      </div>
    </section>
    <!-- Fresh Selection From Artbook Section -->
    <section class="pb40 home-fresh-selection-products-sec">
      <div class="container">
        <product-listing-slider
          class="shaded-box"
          :title="nostoList['frontpage-nosto-selection-products'] ? nostoList['frontpage-nosto-selection-products']['title'] : ''"
          :per-page-custom="[[0, ['auto', 15]], [768, [3, 15]], [992, [4, 25]], [1200, [5, 25]]]"
          :product-border-enabled="false"
          :limit="10"
          :pagination-enabled="false"
          :see-all-link="'/bf20-mar-online/bf20-ln-mg'"
          :slider-id="'home-fresh-selection-products'"
          :nosto-id="'frontpage-nosto-selection-products'"
          :products-list="computedRecommended"
          :slide-auto-play="false"
        />
      </div>
    </section>
    <!-- Suggested On Your Purchase History Section -->
    <section class="pb40 home-suggested-products-sec">
      <div class="container">
        <product-listing-slider
          class="shaded-box"
          :title="nostoList['frontpage-nosto-history-related'] ? nostoList['frontpage-nosto-history-related']['title'] : ''"
          :per-page-custom="[[0, ['auto', 15]], [768, [3, 15]], [992, [4, 25]], [1200, [5, 25]]]"
          :product-border-enabled="false"
          :limit="10"
          :pagination-enabled="false"
          :see-all-link="'/bf20-mar-online/bf20-ln-mg'"
          :slider-id="'home-suggested-products'"
          :nosto-id="'frontpage-nosto-history-related'"
          :products-list="computedRecommended"
          :slide-auto-play="false"
        />
      </div>
    </section>
    <!-- Recently Viewed Section -->
    <section class="pb40 home-recently-viewed-products-sec">
      <div class="container">
        <product-listing-slider
          class="shaded-box"
          :title="nostoList['frontpage-nosto-history'] ? nostoList['frontpage-nosto-history']['title'] : ''"
          :per-page-custom="[[0, ['auto', 15]], [768, [3, 15]], [992, [4, 25]], [1200, [5, 25]]]"
          :product-border-enabled="false"
          :limit="10"
          :pagination-enabled="false"
          :see-all-link="'/bf20-mar-online/bf20-ln-mg'"
          :slider-id="'home-recently-viewed-products'"
          :nosto-id="'frontpage-nosto-history'"
          :products-list="computedRecommended"
          :slide-auto-play="false"
        />
      </div>
    </section>
  </div>
</template>

<script>
// query constructor
import { isServer, onlineHelper } from '@vue-storefront/core/helpers'
import LazyHydrate from 'vue-lazy-hydration'

// Core pages
import Home from '@vue-storefront/core/pages/Home'
// Theme core components
import ProductListing from 'theme/components/core/ProductListing'
import MainSlider from 'theme/components/core/blocks/MainSlider/MainSlider'
// Theme local components
import { Logger } from '@vue-storefront/core/lib/logger'
import { mapGetters } from 'vuex'
import config from 'config'
import { registerModule } from '@vue-storefront/core/lib/modules'
import { RecentlyViewedModule } from '@vue-storefront/core/modules/recently-viewed'
import ProductListingSlider from 'theme/components/core/blocks/Product/ProductListingSlider'
import TopRankedCategories from 'theme/components/core/blocks/Category/TopRankedCategories'
import { prepareQuery } from '@vue-storefront/core/modules/catalog/queries/common';
import fetch from 'isomorphic-fetch'

export default {
  data () {
    return {
      loading: true,
      banner: [],
      products: [{}, []],
      recommendedProduct: [],
      nostoProducts: {} || []
    }
  },
  mixins: [Home],
  components: {
    MainSlider,
    ProductListingSlider,
    TopRankedCategories
  },
  async created () {
    await this.$store.dispatch('banner/list', {});
    this.banner = this.$store.getters['banner/getBannerList'] || [];
    // this.getNostoRecommendation();
  },
  computed: {
    // ...mapGetters('user', ['isLoggedIn']),
    ...mapGetters({
      isLogged: 'user/isLoggedIn',
      nostoList: 'nosto/getNostoList'
    }),
    ...mapGetters('homepage', ['getEverythingNewCollection']),
    ...mapGetters('category', ['getCategories']),
    ...mapGetters('nosto', ['getRecommendationList']),
    categories () {
      return this.getCategories
    },
    getTopRankedCategories () {
      return this.getCategories.filter(category => category.is_active && category.rank)
    },
    isOnline () {
      return onlineHelper.isOnline
    },
    isLazyHydrateEnabled () {
      return config.ssr.lazyHydrateFor.some(
        field => ['homepage', 'homepage.new_collection'].includes(field)
      )
    },
    computedRecommended () {
      return this.getRecommendationList;
    },
    getFeaturedProducts () {
      return this.products.filter(product => product.featured === '1').sort((a, b) => { return b.id - a.id }).slice(0, 5)
    },
    user () {
      return this.$store.state.user.current
    }
  },
  beforeCreate () {
    registerModule(RecentlyViewedModule)
  },
  async beforeMount () {
    if (this.$store.state.__DEMO_MODE__) {
      const onboardingClaim = await this.$store.dispatch('claims/check', { claimCode: 'onboardingAccepted' })
      if (!onboardingClaim) { // show onboarding info
        this.$bus.$emit('modal-toggle', 'modal-onboard')
        this.$store.dispatch('claims/set', { claimCode: 'onboardingAccepted', value: true })
      }
    }
  },
  async mounted () {
    if (!this.isLoggedIn && localStorage.getItem('redirect')) this.$bus.$emit('modal-show', 'modal-signup')

    let newProductsQuery = prepareQuery({ queryConfig: 'products' });
    const newProductsResult = await this.$store.dispatch('product/list', {
      query: newProductsQuery
    });
    this.products = newProductsResult.items.length > 0 ? newProductsResult.items : [];
    this.$store.dispatch('nosto/viewFrontPage')

    await this.$store.dispatch('nosto/list', [
      'frontpage-nosto-most-popular',
      'frontpage-nosto-trending-products',
      'frontpage-nosto-featured-products',
      'frontpage-nosto-recommended-for-you',
      'frontpage-nosto-just-arrived',
      'frontpage-nosto-best-picked-products',
      'frontpage-nosto-best-sellers',
      'frontpage-nosto-selection-products',
      'frontpage-nosto-history-related',
      'frontpage-nosto-history'
    ])
  },
  // methods: {
  //   isLoggedIn () {
  //     return this.$store.getters['user/isLoggedIn']
  //   }
  // },
  watch: {
    isLoggedIn () {
      const redirectObj = localStorage.getItem('redirect')
      if (redirectObj) this.$router.push(redirectObj)
      localStorage.removeItem('redirect')
    }
  },
  async asyncData ({ store, route }) { // this is for SSR purposes to prefetch data
    Logger.info('Calling asyncData in Home (theme)')()

    await Promise.all([
      store.dispatch('homepage/fetchNewCollection'),
      store.dispatch('promoted/updateHeadImage'),
      store.dispatch('promoted/updatePromotedOffers'),
      store.dispatch('nosto/list',
        [
          'frontpage-nosto-recommended-for-you',
          'frontpage-nosto-most-popular',
          'frontpage-nosto-just-arrived',
          'frontpage-nosto-best-sellers',
          'frontpage-nosto-history-related',
          'frontpage-nosto-history'
        ])
    ])
  },
  beforeRouteEnter (to, from, next) {
    if (!isServer && !from.name) { // Loading products to cache on SSR render
      next(vm =>
        vm.$store.dispatch('homepage/fetchNewCollection').then(res => {
          vm.loading = false
        })
      )
    } else {
      next()
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);
$white: color(white);

.new-collection {
  @media (max-width: 767px) {
    padding-top: 0;
  }
}

.home-recommended-products-sec {
  @media (max-width: 767px) {
    padding-top: 20px;
    overflow: hidden;
  }
}
</style>
<style lang="scss">

#home {
  .product_label {
    display: none;
  }
}

.home-top-ranked-products-sec {
  @media (max-width: 767px) {
    padding-bottom: 20px;
    .slider-spacing{
      padding:0 15px;
      .category{
        padding: 5px;
      }
      .category-img-wrap{
        .category-index{
          left:-5px;
          top:-5px;
        }
      }
      .VueCarousel-navigation{
        display: none;
      }
    }
    .swiper-button-next,
    .swiper-button-prev{
      display: none;
    }
  }
}
.home-recently-viewed-products-sec,
.home-suggested-products-sec,
.home-fresh-selection-products-sec,
.home-bestseller-products-sec,
.home-best-picked-products-sec,
.home-just-arrived-products-sec,
.home-recommended-products-for-you-sec,
.home-recommended-products-sec {
  @media (max-width: 767px) {
    padding-bottom: 20px !important;

    & > .container {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.home-recently-viewed-products-sec,
.home-suggested-products-sec,
.home-fresh-selection-products-sec,
.home-bestseller-products-sec,
.home-best-picked-products-sec,
.home-just-arrived-products-sec,
.home-recommended-products-for-you-sec,
.home-recommended-products-slider-wrap {
  @media (max-width: 767px) {
    .swiper-slide {
      flex: 0 0 167px;
      max-width: 167px;
    }

    .swiper-button-prev, .swiper-button-next {
      display: none;
    }

    /*.swiper-pagination {
      display: block !important;
    }*/

    .shaded-box {
      padding: 25px 20px;
      border-radius: 0;
    }
  }
}

.home-recommended-products-slider-wrap {
  .sec-title-wrap{
    width: 100%;
  }
  .product-listing-carousel {
    .swiper-container {
      padding-right: 1px;
    }
  }
  .loader-ajax-slider{
    min-height: 368px;
  }
}

.featured-items-sec {
  .sec-title-wrap{
    width: 100%;
  }
  .shaded-box {
    padding-left: 42px;
    padding-right: 42px;

    @media (max-width: 767px) {
      padding: 30px 45px;
    }
  }
  .title-sec {
    margin-bottom: 44px;

    @media (max-width: 767px) {
      margin-bottom: 20px;
    }
  }
  .product {

    .btn-outlined,
    .btn-full,
    .product__icons,
    .product-tile-title {
      display: none;
    }
  }
  .product-listing-carousel-wrap {
    height: 100%;
    display: flex;
    flex-direction: column;

    .product-listing-carousel {
      flex-grow: 1;

      & > .relative {
        display: flex;
        flex-direction: column;
        height: 100%;

        .swiper-slider-wrap {
          flex-grow: 1;
        }
      }
      .swiper-wrapper{
        align-items: center;
      }
      .swiper-container,
      .swiper-wrapper,
      .swiper-slide,
      .product,
      .product-link,
      .product-cover,
      .product-image {
        height: 100% !important;
      }

      .swiper-slide {
        .product-image {
          @media (max-width: 767px) {
            min-height: 250px;
          }
        }
      }
    }
  }
  .loader-ajax-slider{
    min-height: 368px;
  }
  @media (max-width: 767px) {
    margin-top: 20px;
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}
.home-just-arrived-products-sec,
.home-best-picked-products-sec,
.home-bestseller-products-sec,
.home-suggested-products-sec,
.home-fresh-selection-products-sec,
.home-suggested-products-sec,
.home-recently-viewed-products-sec{
  .loader-ajax-slider{
    min-height: 374px;
  }
}
</style>
