<template>
  <div class="nosto-prdouct-section">
    <div class="nosto-product-breadcrumbs">
      <div class="container">
        <breadcrumbs
          :routes="[{name: 'PHOENIX', route_link: '/'}]"
          :active-route="$t('' + getBreadcrumb + '')"
        />
      </div>
    </div>
    <div class="container pb60">
      <no-ssr>
        <div class="nosto-product-list shaded-box grid-view" v-if="computedRecommended && computedRecommended.length > 0">
          <product-listing :columns="defaultColumn" :products="computedRecommended" />
        </div>
      </no-ssr>
      <div class="nosto-product-list loader-ajax-slider shaded-box" v-if="nostoProductListFlag">
        <div class="site-ajax-loader" />
      </div>
    </div>
  </div>
</template>

<script>
import ProductListing from '../components/core/ProductListing.vue'
import { mapGetters } from 'vuex'
import NoSSR from 'vue-no-ssr'
import Breadcrumbs from '../components/core/Breadcrumbs.vue'

export default {
  components: {
    ProductListing,
    'no-ssr': NoSSR,
    Breadcrumbs
  },
  data () {
    return {
      nostoId: '',
      defaultColumn: 4,
      nostoProductListFlag: ''
    }
  },
  async mounted () {
    this.nostoProductListFlag = true;
    var slug = this.$route.params.slug
    this.nostoId = slug

    await this.$store.dispatch('nosto/list', [
      this.nostoId
    ])
  },
  computed: {
    ...mapGetters({
      nostoList: 'nosto/getNostoList'
    }),
    ...mapGetters('nosto', ['getRecommendationList']),
    computedRecommended () {
      return this.getRecommendationList[this.nostoId];
    },
    getBreadcrumb () {
      if (this.nostoId !== undefined) {
        if (this.nostoList[this.nostoId] !== undefined) {
          return this.nostoList[this.nostoId]['title'];
        } else {
          return '';
        }
      } else {
        return '';
      }
    }
  },
  watch: {
    computedRecommended (val) {
      if (val.length) {
        this.nostoProductListFlag = false;
      }
    }
  }
}

</script>

<style lang="scss">
.nosto-product-breadcrumbs {
  padding-top: 40px;
  padding-bottom: 40px
}
.site-ajax-loader {
  display: inline-block;
  width: 40px;
  height: 40px;
}
.loader-ajax-slider {
  text-align: center;
  min-height: 350px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.site-ajax-loader:after {
  content: " ";
  display: block;
  width: 40px;
  height: 40px;
  margin: 8px;
  border-radius: 50%;
  border: 4px solid #1895f5;
  border-color: #1895f5 transparent #1895f5 transparent;
  animation: site-ajax-loader 1.2s linear infinite;
}
@keyframes site-ajax-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.site-loader-wrap {
  justify-content: center;
  display: flex;
  margin: 150px 0;
}

@media (max-width: 767px) {
  .site-loader-wrap {
    margin: 50px 0;
  }
}
</style>
