<template>
  <div>
    <loader />
    <thank-you-block :identifier="'thank_you_page_male'" :order-id="parseInt(lastOrderConfirmation)" :purchase-value="parseInt(orderPurchaseVaue)" :reference-id="orderReferencId" v-if="currentUser.gender == 1" />
    <thank-you-block :identifier="'thank_you_page_female'" :order-id="parseInt(lastOrderConfirmation)" :purchase-value="parseInt(orderPurchaseVaue)" :reference-id="orderReferencId" v-else-if="currentUser.gender == 2" />
    <thank-you-block :identifier="'thank_you_page_guest'" :order-id="parseInt(lastOrderConfirmation)" :purchase-value="parseInt(orderPurchaseVaue)" :reference-id="orderReferencId" v-else />
  </div>
</template>

<script>
import MyProfile from '@vue-storefront/core/compatibility/components/blocks/MyAccount/MyProfile'
import Composite from '@vue-storefront/core/mixins/composite'
import ButtonOutline from 'theme/components/theme/ButtonOutline'
import VueOfflineMixin from 'vue-offline/mixin'
import { EmailForm } from '@vue-storefront/core/modules/mailer/components/EmailForm'
import { isServer } from '@vue-storefront/core/helpers'
import config from 'config'
import { registerModule } from '@vue-storefront/core/lib/modules'
import { MailerModule } from '@vue-storefront/core/modules/mailer'
import ThankYouBlock from 'theme/components/core/blocks/Cms/ThankYouBlock'
import Loader from 'src/themes/phoenixnext/components/core/Loader'
import i18n from '@vue-storefront/i18n'
import { TaskQueue } from '@vue-storefront/core/lib/sync'
import { processLocalizedURLAddress } from '@vue-storefront/core/helpers'
import { mapGetters } from 'vuex'
var cookie = require('cookie');

export default {
  name: 'ThankYouPage',
  mixins: [Composite, VueOfflineMixin, EmailForm, MyProfile],
  beforeCreate () {
    registerModule(MailerModule)
  },
  data () {
    return {
      feedback: '',
      orderId: '',
      purchaseValue: '',
      referenceId: '',
      purchaseValueCC: ''
    }
  },
  async mounted () {
    this.$bus.$emit('notification-progress-start', i18n.t('Processing your order ...'))
    this.$nextTick(function () {
      this.xmlParser();
    })
  },
  computed: {
    ...mapGetters({
      isLogged: 'user/isLoggedIn'
    }),
    user () {
      return this.$store.state.user.current
    },
    lastOrderConfirmation () {
      if (this.referenceId) {
        return this.referenceId
      }

      if (this.$store.state.order) {
        return this.$store.state.order.last_order_confirmation.confirmation.orderNumber;
      } else {
        return this.orderId
      }
    },
    isNotificationSupported () {
      if (isServer || !('Notification' in window)) return false
      return 'Notification' in window
    },
    isPermissionGranted () {
      if (isServer || !('Notification' in window)) return false
      return Notification.permission === 'granted'
    },
    checkoutPersonalEmailAddress () {
      return this.$store.state.checkout.personalDetails.emailAddress
    },
    mailerElements () {
      return config.mailer.contactAddress
    },
    orderPurchaseVaue () {
      if (this.purchaseValueCC) {
        this.$store.dispatch('cart/clear', { sync: false }, { root: true })
        return this.purchaseValueCC
      }
      if (this.$store.state.cart && this.lastOrderConfirmation) {
        if (this.lastOrderConfirmation) {
          var subtotal = this.$store.state.cart.platformTotals.base_subtotal_with_discount;
          this.$store.dispatch('cart/clear', { sync: false }, { root: true })
          return subtotal
        } else {
          this.$store.dispatch('cart/clear', { sync: false }, { root: true })
          return ''
        }
        // return this.$store.state.order.totals.base_row_total_incl_tax
      } else {
        this.$store.dispatch('cart/clear', { sync: false }, { root: true })
        return ''
      }
    },
    orderReferencId () {
      return this.referenceId
    }
  },
  methods: {
    xmlParser () {
      if (this.$route.query.r) {
        this.purchaseValueCC = ''
        var parser, xmlDoc;
        let PaymentResponse = this.$route.query.r.split(' ').join('+');
        this.$router.replace('/thank-you');
        parser = new DOMParser();
        xmlDoc = parser.parseFromString(window.atob(PaymentResponse), 'text/xml');
        if (xmlDoc.getElementsByTagName('payload').length > 0) {
          var payloadEnc = xmlDoc.getElementsByTagName('payload')[0].childNodes[0].nodeValue;
          var payloadDec = window.atob(payloadEnc);

          var xmlPayload = parser.parseFromString(payloadDec, 'text/xml');
          if (this.isLogged) {
            if (xmlPayload.getElementsByTagName('storeCardUniqueID').length > 0) {
              let postData = {
                customers: {
                  name: xmlPayload.getElementsByTagName('bankName')[0].childNodes[0].nodeValue,
                  email: this.user.email,
                  token: xmlPayload.getElementsByTagName('storeCardUniqueID')[0].childNodes[0].nodeValue,
                  brand: '',
                  number: xmlPayload.getElementsByTagName('pan')[0].childNodes[0].nodeValue
                }
              };
              this.$store.dispatch('cardData/addCardData', postData)
            }
          }
          this.referenceId = xmlPayload.getElementsByTagName('uniqueTransactionCode')[0].childNodes[0].nodeValue;
          this.purchaseValueCC = xmlPayload.getElementsByTagName('amt')[0].childNodes[0].nodeValue / 100;
        }
        // let cartId = '123456';
        // let status = 'Approved'
        // return new Promise((resolve, reject) => {
        //   return TaskQueue.execute({
        //     url: processLocalizedURLAddress(config.aureatelabs.updateOrderStatus_endpoint),
        //     payload: {
        //       method: 'POST',
        //       headers: { 'Content-Type': 'application/json' },
        //       mode: 'cors',
        //       body: JSON.stringify({ 'entity': {
        //         'entity_id': 10,
        //         'status': 'processing'
        //       }
        //       })
        //     },
        //     silent: false
        //   });
        // })
      } else {
        if (!this.lastOrderConfirmation) {
          this.$router.push('/')
        }
      }
      this.$bus.$emit('notification-progress-stop')
    },
    requestNotificationPermission () {
      if (isServer) return false
      if ('Notification' in window && Notification.permission !== 'granted') {
        Notification.requestPermission()
      }
    },
    sendFeedback () {
      this.sendEmail(
        {
          sourceAddress: this.checkoutPersonalEmailAddress,
          targetAddress: this.mailerElements,
          subject: this.$t('What we can improve?'),
          emailText: this.feedback
        },
        this.onSuccess,
        this.onFailure
      )
    },
    onSuccess (message) {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'success',
        message,
        action1: { label: this.$t('OK') }
      })
      if (this.mailerElements.sendConfirmation) {
        this.sendEmail(
          {
            sourceAddress: this.mailerElements,
            targetAddress: this.checkoutPersonalEmailAddress,
            subject: this.$t('Confirmation of receival'),
            emailText: this.$t(`Dear customer,\n\nWe have received your letter.\nThank you for your feedback!`),
            confirmation: true
          }
        )
      }
    },
    onFailure (message) {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message,
        action1: { label: this.$t('OK') }
      })
    }
  },
  destroyed () {
    this.$store.dispatch('checkout/setThankYouPage', false)
  },
  components: {
    ThankYouBlock,
    Loader
  }
}
</script>

<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);
$gray-666666: color(gray-666666);

.thank-you-page {
  margin-top: 40px;
  margin-bottom: 80px;

  &-container {
    padding: 5% 21%;

    @media (max-width: 1199px) {
      padding: 8% 10%;
    }

    @media (max-width: 767px) {
      padding: 30px;
    }
  }

  &-title {
    font-size: 35px;
    color: $color-secondary;
    margin-bottom: 20px;

    @media (max-width: 767px) {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }

  &-img {
    width: 70px;
    height: 70px;
    border: 2px solid $color-secondary;
    border-radius: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;

    @media (max-width: 767px) {
      width: 50px;
      height: 50px;
    }
  }

  &-order-placed {
    font-size: 25px;
    line-height: 1.6;
    margin: 0;
    font-weight: 500;

    @media (max-width: 767px) {
      font-size: 16px;
    }
  }

  &-order-id {
    font-size: 18px;
    color: $gray-666666;
    margin-bottom: 22px;
    font-weight: 400;

    @media (max-width: 767px) {
      font-size: 14px;
      margin-bottom: 20px;
    }

    & > span {
      font-weight: 500;
      text-decoration: underline;
      color: $color-primary;
    }
  }

  &-order-desc {
    color: $gray-666666;
    margin-bottom: 50px;

    @media (max-width: 767px) {
      font-size: 12px;
      margin-bottom: 30px;
    }
  }

  &-purchase-desc {
    margin-bottom: 67px;
    color: $gray-666666;
    font-weight: 400;
    display: flex;
    justify-content: space-between;

    @media (max-width: 767px) {
      margin-bottom: 40px;
    }

    & > h4 {
      font-weight: 400;
      font-size: 18px;
      margin: 0;

      @media (max-width: 767px) {
        font-size: 12px;
      }

      & > span {
        color: $color-primary;
        font-weight: 500;
      }
    }

    .reference {
      margin-left: 20px;

      & > span {
        text-decoration: underline;
      }
    }
  }

  &-continue-shopping {
    a {
      font-size: 20px;
      font-weight: 600;
      color: $color-secondary;
      text-decoration: underline;

      @media (max-width: 767px) {
        font-size: 12px;
      }

      &:hover {
        color: $color-primary;
      }
    }
  }
}
</style>
