<template>
  <no-ssr>
    <transition :name="direction === 'right' ? 'slide-left' : direction === 'left' ? 'slide-right' : null ">
      <div
        class="mw-100 fixed"
        :class="direction === 'left' ? 'left-sidebar' : direction === 'right' ? 'right-sidebar' : null "
        data-testid="sidebar"
        ref="sidebar"
        v-show="isOpen"
      >
        <div class="sidebar-wrap">
          <component :is="component" @close="$emit('close')" @reload="getComponent" />
        </div>
      </div>
    </transition>
  </no-ssr>
</template>

<script>
import NoSSR from 'vue-no-ssr'
import LoadingSpinner from 'theme/components/theme/blocks/AsyncSidebar/LoadingSpinner.vue'
import LoadingError from 'theme/components/theme/blocks/AsyncSidebar/LoadingError.vue'
import { disableBodyScroll, clearAllBodyScrollLocks } from 'body-scroll-lock'

export default {
  props: {
    asyncComponent: {
      type: Function,
      required: true
    },
    isOpen: {
      type: Boolean,
      default: false
    },
    /** "right" or "left"  */
    direction: {
      type: String,
      default: 'right'
    }
  },
  components: {
    'no-ssr': NoSSR
  },
  data () {
    return {
      component: null
    }
  },
  watch: {
    isOpen (state) {
      if (state) {
        if (!this.component) {
          this.getComponent()
        }
        let sidebarEl = this.$refs.sidebar;
        if (!sidebarEl.classList.contains('hamburger-sidebar')) {
          disableBodyScroll(this.$refs.sidebar)
        }
      } else {
        clearAllBodyScrollLocks()
      }
    }
  },
  methods: {
    getComponent () {
      this.component = () => ({
        component: this.asyncComponent(),
        loading: LoadingSpinner,
        error: LoadingError,
        timeout: 3000
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import "~theme/css/animations/transitions";
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$white: color(white);

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition: transform .25s;
}

.slide-left-enter,
.slide-left-leave-to {
  transform: translateX(100%);
}

.slide-right-enter,
.slide-right-leave-to {
  transform: translateX(-100%);
}

.right-sidebar {
  top: 0;
  right: 0;
  z-index: 4;
  height: 100%;
  width: 770px;
  min-width: 320px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;

  .sidebar-wrap {
    margin-left: 70px;

    @media (max-width: 767px) {
      margin-left: 60px;
    }
  }
}

.left-sidebar{
  height: 100vh;
  width: 470px;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 12;

  @media (max-width: 767px) {
    width: 100%;
  }

  .sidebar-wrap {
    margin-right: 70px;

    @media (max-width: 767px) {
      margin-right: 60px;
    }
  }
}

.close {
  i {
    opacity: 0.6;
  }
  &:hover,
  &:focus {
    i {
      opacity: 1;
    }
  }
}

.sidebar-wrap {
  background-color: $white;
  min-height: 100%;
}
</style>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);

.microcart-sidebar {
  .sidebar-wrap {
    @media (max-width: 767px) {
      margin-left: 0 !important;
    }
  }

  .sidebar-close {
    @media (max-width: 767px) {
      position: static;
      left: 0;
      top: 0;
      width: 100%;
      text-align: right;
      padding-top: 20px;
      padding-right: 20px;
    }

    .desktop-close {
      @media (max-width: 767px) {
        display: none;
      }
    }

    .mobile-close {
      display: none;

      @media (max-width: 767px) {
        display: block;
        margin-left: auto;
      }
    }
  }
}

.wishlist-sidebar {
  .sidebar-wrap {
    @media (max-width: 767px) {
      margin-left: 0 !important;
    }
  }

  .sidebar-close {
    @media (max-width: 767px) {
      position: static;
      left: 0;
      top: 0;
      width: 100%;
      text-align: right;
    }

    .desktop-close {
      @media (max-width: 767px) {
        display: none;
      }
    }

    .mobile-close {
      display: none;

      @media (max-width: 767px) {
        display: block;
        margin-left: auto;
      }
    }
  }
}

.free-gifts-sidebar {
  .sidebar-wrap {
    @media (max-width: 767px) {
      margin-left: 0 !important;
    }
  }

  .sidebar-close {
    @media (max-width: 767px) {
      position: static;
      left: 0;
      top: 0;
    }

    .desktop-close {
      @media (max-width: 767px) {
        display: none;
      }
    }

    .mobile-close {
      display: none;

      @media (max-width: 767px) {
        display: block;
        margin-left: auto;
      }
    }
  }
}
</style>
