<template>
  <div class="order-review" :class="{ 'active' : isActive || isFilled }">
    <div class="row">
      <div class="col-auto col-md-1 number-circle-wrap">
        <div
          class="number-circle"
        >
          {{ (isVirtualCart ? 3 : 4) }}
        </div>
      </div>
      <div class="col-xs col-md-11">
        <div class="row mb5">
          <div class="col-md-12">
            <h3 class="order-tab-title">
              {{ $t('Review order') }}
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row pr20" v-show="isActive">
      <div class="hidden-xs col-sm-2 col-md-1" />
      <div class="col-xs-12 col-md-11 col-lg-9">
        <div class="row mb15">
          <div class="col-xs-12">
            <div class="filled-info">
              <p class="warning-alert">
                {{ $t('Order now and wait until the payment is complete. (Do not close or refresh the website)') }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" v-show="isActive">
      <div class="hidden-xs col-sm-2 col-md-1" />
      <div class="col-xs-12 col-md-11 col-lg-9">
        <div class="flex mt15 mb20 middle-xs button-container-wrap">
          <div>
            <base-checkbox
              class="col-xs-12 my15"
              id="acceptPrivacy"
              @blur="$v.acceptPrivacy.$touch()"
              v-model="acceptPrivacy"
              :validations="[{
                condition: !$v.acceptPrivacy.sameAs && $v.acceptPrivacy.$error,
                text: $t('You must accept the terms and conditions.')
              }]"
            >
              {{ $t('I accept the') }}
              <router-link
                class="link pointer"
                to="/i/privacy-policy"
              >
                {{ $t('Privacy Policy') }}
              </router-link>*
            </base-checkbox>
          </div>
          <div class="button-container">
            <slot name="placeOrderButton">
              <button
                @click="placeNewOrder(), $v.acceptPrivacy.$touch()"
                data-testid="orderReviewSubmit"
                class="place-order-btn btn-fill btn-secondary"
              >
                {{ $t('PLACE THE ORDER') }}
              </button>
            </slot>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { required, minLength, email, sameAs } from 'vuelidate/lib/validators'
import BaseCheckbox from 'theme/components/core/blocks/Form/BaseCheckbox.vue';
import Composite from '@vue-storefront/core/mixins/composite'
import { OrderReview } from '@vue-storefront/core/modules/checkout/components/OrderReview'
import { OrderModule } from '@vue-storefront/core/modules/order'
import { registerModule } from '@vue-storefront/core/lib/modules'

export default {
  components: {
    BaseCheckbox
  },
  mixins: [OrderReview, Composite],
  data () {
    return {
      acceptPrivacy: false
    };
  },
  validations: {
    acceptPrivacy: {
      sameAs: sameAs(() => true)
    }
  },
  beforeCreate () {
    registerModule(OrderModule)
  },
  methods: {
    placeNewOrder () {
      this.placeOrder();
      this.$bus.$on('order-after-placed', this.paymentRedirection)
    },
    paymentRedirection () {
      if (this.$parent.getPaymentMethod() === 'p2c2ppayment') {
        let paymentDetails = this.$store.getters['p2c2pPayment/getPaymentDetails']
        this.$store.dispatch('p2c2pPayment/processPayment', paymentDetails)
      } else if (this.$parent.getPaymentMethod() === 'p123payment') {
        this.$store.dispatch('p2c2pPayment/processQRPayment')
      }
    },
    onSuccess () {
    },
    onFailure (result) {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message: this.$t(result.result),
        action1: { label: this.$t('OK') }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$buccaneer: color(buccaneer);
$yellow-F6A500: color(yellow-F6A500);
$white: color(white);

  .link {
    text-decoration: underline;
  }

  .cartsummary-wrapper {
    @media (min-width: 767px) {
      display: none;
    }
  }

  .warning-alert {
    margin: 0;
    font-size: 12px;
    font-weight: 700;
    padding: 15px 30px;
    border-radius: 4px;
    color: $yellow-F6A500;
    border: 1px solid $yellow-F6A500;
    background: rgba($yellow-F6A500, 0.2);

    @media (max-width: 767px) {
      padding: 15px;
    }
  }

  .error-alert {
    margin: 0;
    font-size: 12px;
    font-weight: 700;
    padding: 15px 30px;
    border-radius: 4px;
    color: $white;
    border: 1px solid $buccaneer;
    background: rgba($buccaneer, 0.6);

    @media (max-width: 767px) {
      padding: 15px;
    }
  }
</style>
