<template>
  <div class="shipping pb20 order-tab-wrap" :class="{ 'active' : isActive || isFilled }">
    <div class="row">
      <div class="col-auto col-md-1 number-circle-wrap">
        <div class="number-circle">
          2
        </div>
      </div>
      <div class="col-xs col-md-11">
        <div class="row mb5">
          <div class="col-xs-12 col-sm-6 col-lg-7">
            <h3 class="order-tab-title">
              {{ $t('Shipping') }}
            </h3>
          </div>
          <div class="col-xs-12 col-sm-6 col-lg-5">
            <div class="lh30 flex end-sm" v-if="isFilled && !isActive">
              <a href="#" class="edit-btn flex middle-xs" @click.prevent="edit">
                <span class="pr5">
                  {{ $t('Edit shipping') }}
                </span>
                <i class="material-icons">edit</i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" v-if="isActive && currentUser && hasShippingDetails()">
      <div class="hidden-xs col-sm-2 col-md-1" />
      <div class="col-xs-12 col-md-11 col-lg-9">
        <div class="shipping-address-list">
          <div class="shipping-address-item box-radio" v-for="(location, index) in currentUser.addresses" :key="index">
            <label class="radioStyled">
              <input
                type="radio"
                :value="location.id"
                name="shipping-address"
                :checked="location.default_shipping"
                v-model="shipToMyAddressCheckbox"
              >
              <span class="checkmark">
                {{ location.firstname }} {{ location.lastname }} <br>
                {{ location.company }} <br v-if="location.company">
                <span v-for="(street, indexNum) in location.street" :key="indexNum">
                  {{ street }}
                </span> <br>
                {{ location.city }} {{ location.postcode }} <br>
                <span v-if="location.region.region">{{ location.region.region }}, </span> <br v-if="location.region.region">
                <span>{{ getCountryName() }}</span>
                <div class="my15" v-if="location.telephone">
                  <span>{{ location.telephone }}</span>
                </div>
              </span>
              <router-link class="edit-addr-link" to="/my-account/shipping-details">
                <i class="material-icons">edit</i>
              </router-link>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row" v-if="isActive && currentUser && hasShippingDetails()">
      <div class="hidden-xs col-sm-2 col-md-1" />
      <div class="col-xs col-md-11 align-right">
        <a href="#" class="f-s-15 weight-600" @click.prevent="openShippingForm">
          {{ $t('+ Add Shipping Address') }}
        </a>
      </div>
    </div>
    <div class="row" v-if="isActive && !hasShippingDetails() || shippingFormOpened">
      <div class="hidden-xs col-sm-2 col-md-1" />
      <div class="col-xs-12 col-md-11 col-lg-9">
        <div class="row">
          <base-checkbox
            v-if="currentUser && hasShippingDetails()"
            class="col-xs-12 my15"
            id="shipToMyAddressCheckbox"
            v-model="shipToMyAddress"
          >
            {{ $t('Ship to my default address') }}
          </base-checkbox>

          <base-input
            class="col-xs-12 col-sm-6 mb15"
            type="text"
            name="first-name"
            :placeholder="$t('First name *')"
            v-model.trim="shipping.firstName"
            @blur="$v.shipping.firstName.$touch()"
            autocomplete="given-name"
            :validations="[
              {
                condition: $v.shipping.firstName.$error && !$v.shipping.firstName.required,
                text: $t('Field is required')
              },
              {
                condition: !$v.shipping.firstName.minLength,
                text: $t('Name must have at least 2 letters.')
              }
            ]"
          />

          <base-input
            class="col-xs-12 col-sm-6 mb15"
            type="text"
            name="last-name"
            :placeholder="$t('Last name *')"
            v-model.trim="shipping.lastName"
            @blur="$v.shipping.lastName.$touch()"
            autocomplete="family-name"
            :validations="[{
              condition: $v.shipping.lastName.$error && !$v.shipping.lastName.required,
              text: $t('Field is required')
            }]"
          />
          <base-input
            class="col-xs-12 col-sm-12 mb15 zip-code-checkout"
            :type="number"
            :maxlength="5"
            name="zip-code"
            :placeholder="$t('Zip-code *')"
            v-model.trim="shipping.zipCode"
            @blur="$v.shipping.zipCode.$touch()"
            @keyup="getSuggestions"
            autocomplete="postal-code"
            :validations="[
              {
                condition: $v.shipping.zipCode.$error && !$v.shipping.zipCode.required,
                text: $t('Field is required')
              },
              {
                condition: !$v.shipping.zipCode.minLength,
                text: $t('Zip-code must have at least 3 letters.')
              }
            ]"
          />

          <div class="suggestions relative base-input col-xs-12 col-sm-12" v-if="addressSuggestion.length > 0">
            <div class="suggestion-block">
              <div class="suggestion-list">
                <span class="suggestion" @click="fillAddress (suggestion)" v-for="(suggestion, index) in addressSuggestion" :key="index">{{ suggestion.district + ', ' + suggestion.province + ', ' + suggestion.postal_code }}</span>
              </div>
            </div>
          </div>

          <!-- <google-autocomplete
            ref="address"
            id="map"
            @placechanged="getAddressData"
            class="col-xs-12 mb15"
            type="text"
            name="zip-code"
            :placeholder="$t('Zip-code *')"
            v-model.trim="shipping.zipCode"
            @blur="$v.shipping.zipCode.$touch()"
            autocomplete="postal-code"
            :validations="[
              {
                condition: $v.shipping.zipCode.$error && !$v.shipping.zipCode.required,
                text: $t('Field is required')
              },
              {
                condition: !$v.shipping.zipCode.minLength,
                text: $t('Name must have at least 3 letters.')
              }
            ]"
          /> -->

          <base-input
            class="col-xs-12 col-sm-6 mb15"
            type="text"
            name="street-address"
            :placeholder="$t('Street name *')"
            v-model.trim="shipping.streetAddress"
            @blur="$v.shipping.streetAddress.$touch()"
            autocomplete="address-line1"
          />

          <base-input
            class="col-xs-12 col-sm-6 mb15"
            type="text"
            name="apartment-number"
            :placeholder="$t('House/Apartment number *')"
            v-model.trim="shipping.apartmentNumber"
            @blur="$v.shipping.apartmentNumber.$touch()"
            autocomplete="address-line2"
            :validations="[{
              condition: $v.shipping.apartmentNumber.$error && !$v.shipping.apartmentNumber.required,
              text: $t('Field is required')
            }]"
          />

          <base-input
            class="col-xs-12 col-sm-6 mb15"
            type="text"
            name="city"
            :placeholder="$t('City *')"
            v-model.trim="shipping.city"
            @blur="$v.shipping.city.$touch()"
            autocomplete="address-level2"
            :validations="[
              {
                condition: $v.shipping.city.$error && !$v.shipping.city.required,
                text: $t('Field is required')
              },
              {
                condition: $v.shipping.city.$error && $v.shipping.city.required,
                text: $t('Please provide valid city name')
              }
            ]"
          />

          <base-input
            class="col-xs-12 col-sm-6 mb15"
            type="text"
            name="state"
            :placeholder="$t('State / Province')"
            v-model.trim="shipping.state"
            autocomplete="address-level1"
          />

          <base-select
            class="col-xs-12 mb15"
            name="countries"
            :options="countryOptions"
            :selected="shipping.country"
            :placeholder="$t('Country *')"
            :validations="[
              {
                condition: $v.shipping.country.$error && !$v.shipping.country.required,
                text: $t('Field is required')
              }
            ]"
            v-model="shipping.country"
            autocomplete="country-name"
            @blur="$v.shipping.country.$touch()"
            @change.native="$v.shipping.country.$touch(); changeCountry();"
          />

          <base-input
            class="col-xs-12 mb15"
            type="text"
            name="phone-number"
            :placeholder="$t('Phone Number *')"
            :validations="[
              {
                condition: $v.shipping.phoneNumber.$error && !$v.shipping.phoneNumber.required,
                text: $t('Field is required')
              }
            ]"
            v-model.trim="shipping.phoneNumber"
            @blur="$v.shipping.phoneNumber.$touch()"
            autocomplete="tel"
            maxlength="10"
          />
        </div>
      </div>
    </div>
    <div class="row" v-if="isActive">
      <div class="hidden-xs col-sm-2 col-md-1" />
      <div class="col-xs-12 col-md-11 col-lg-9">
        <div class="row">
          <h4 class="col-xs-12 shipping-field-title">
            {{ $t('Shipping Method') }}
          </h4>
          <div class="col-xs-12">
            <div class="shipping-list">
              <div v-for="(method, index) in shippingMethods" :key="index" class="shipping-item box-radio">
                <label class="radioStyled">
                  <input
                    type="radio"
                    :value="method.method_code"
                    name="shipping-method"
                    v-model="shipping.shippingMethod"
                    @change="$v.shipping.shippingMethod.$touch(); changeShippingMethod();"
                  >
                  <span class="checkmark">
                    <span class="shipping-item-price">{{ method.amount | price(storeView) }}</span>
                    {{ method.method_title }}
                  </span>
                </label>
              </div>
            </div>
          </div>
          <span class="validation-error" v-if="$v.shipping.shippingMethod.$error && !$v.shipping.shippingMethod.required">
            {{ $t('Field is required') }}
          </span>
        </div>
      </div>
    </div>
    <div class="row" v-if="isActive">
      <div class="hidden-xs col-sm-2 col-md-1" />
      <div class="col-xs-12 col-md-11 col-lg-9">
        <div class="flex mt15 mb20 middle-xs button-container-wrap">
          <div class="button-container">
            <button
              class="btn-fill btn-secondary"
              data-testid="shippingSubmit"
              @click="sendDataToCheckout(), shippingFormOpened = false"
              :disabled="$v.shipping.$invalid || shippingMethods.length <= 0"
            >
              {{ $t('CONTINUE TO PAYMENT') }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row" v-if="!isActive && isFilled">
      <div class="hidden-xs col-sm-2 col-md-1" />
      <div class="col-xs-12 col-md-11 col-lg-9">
        <div class="row">
          <div class="col-xs-12" data-testid="shippingAddressSummary">
            <div class="filled-info">
              <p>
                {{ shipping.firstName }} {{ shipping.lastName }}<br>
                {{ shipping.apartmentNumber }} {{ shipping.streetAddress }}<br>
                {{ shipping.city }} {{ shipping.zipCode }}<br>
                <span v-if="shipping.state">{{ shipping.state }}, </span><br v-if="shipping.state">
                <span>{{ getCountryName() }}</span>
              </p>
              <div class="mb25" v-if="shipping.phoneNumber">
                <span class="pr15">{{ shipping.phoneNumber }}</span>
                <tooltip>{{ $t('Phone number may be needed by carrier') }}</tooltip>
              </div>
              <h4 class="shipping-field-title">
                {{ $t('Shipping Method') }}
              </h4>
              <div class="mb20">
                <div class="shipping-list">
                  <div class="shipping-item box-radio">
                    <label class="radioStyled">
                      <input type="radio" value="" checked disabled name="chosen-shipping-method">
                      <span class="checkmark">
                        <span class="shipping-item-price">{{ getShippingMethod().amount | price(storeView) }}</span>
                        {{ getShippingMethod().method_title }}
                      </span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { required, minLength } from 'vuelidate/lib/validators'
import { unicodeAlpha, unicodeAlphaNum } from '@vue-storefront/core/helpers/validators'
import { Shipping } from '@vue-storefront/core/modules/checkout/components/Shipping'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import BaseCheckbox from 'theme/components/core/blocks/Form/BaseCheckbox'
import BaseInput from 'theme/components/core/blocks/Form/BaseInput'
import BaseSelect from 'theme/components/core/blocks/Form/BaseSelect'
import Tooltip from 'theme/components/core/Tooltip'
/* import GoogleAutocomplete from 'theme/components/core/blocks/Checkout/GoogleAutocomplete' */
import addressSuggestions from 'theme/resource/address.json'

export default {
  data () {
    return {
      shipToMyAddressCheckbox: 0,
      address: '',
      shippingFormOpened: false,
      addressSuggestion: ''
    }
  },
  components: {
    Tooltip,
    BaseCheckbox,
    BaseInput,
    BaseSelect
    /* GoogleAutocomplete */
  },
  mixins: [Shipping],
  computed: {
    countryOptions () {
      let countries = this.countries.filter(country => country.code === 'TH')
      return countries.map((item) => {
        return {
          value: item.code,
          label: item.name
        }
      })
    },
    storeView () {
      return currentStoreView()
    }
  },
  watch: {
    shipToMyAddressCheckbox: {
      handler () {
        this.selectShippingAddress()
      }
    }
  },
  methods: {
    selectShippingAddress () {
      if (this.shipToMyAddressCheckbox) {
        let address = this.currentUser.addresses.filter((add) => add.id === this.shipToMyAddressCheckbox);

        this.shipping = {
          firstName: address[0].firstname,
          lastName: address[0].lastname,
          country: address[0].country_id,
          state: address[0].region.region,
          city: address[0].city,
          streetAddress: address[0].street[0],
          apartmentNumber: address[0].street[1],
          zipCode: address[0].postcode,
          phoneNumber: address[0].telephone,
          region_code: address[0].region_id,
          region_id: address[0].region_id,
          shippingMethod: this.checkoutShippingDetails.shippingMethod,
          shippingCarrier: this.checkoutShippingDetails.shippingCarrier,
          street: [address[0].street[0], address[0].street[1]],
          streetAddress1: address[0].street[0],
          streetAddress2: address[0].street[1]
        }
      }

      this.$store.state.checkout.shippingDetails = this.shipping

      this.changeCountry()
    },
    fillAddress (suggestion) {
      if (suggestion) {
        this.shipping.city = suggestion.district
        this.shipping.state = suggestion.province
        this.shipping.zipCode = suggestion.postal_code
        this.addressSuggestion = ''
      }
    },
    getSuggestions () {
      let enteredZipCode = this.shipping.zipCode;
      let data = ''
      this.addressSuggestion = ''

      if (enteredZipCode && enteredZipCode.length > 2) {
        data = addressSuggestions.filter(addresses => (addresses.postal_code.toLowerCase().search(enteredZipCode.toLowerCase()) >= 0))
        if (data) {
          this.addressSuggestion = data
        }
      }
    },
    getAddressData: function (addressData, placeResultData, id) {
      this.address = addressData;
    },
    openShippingForm () {
      this.shippingFormOpened = !this.shippingFormOpened;
    }
  },
  validations: {
    shipping: {
      firstName: {
        required,
        minLength: minLength(2),
        unicodeAlpha
      },
      lastName: {
        required,
        unicodeAlpha
      },
      country: {
        required
      },
      streetAddress: {
        required,
        unicodeAlphaNum
      },
      apartmentNumber: {
        required,
        unicodeAlphaNum
      },
      shippingMethod: {
        required
      },
      zipCode: {
        required,
        minLength: minLength(3),
        unicodeAlphaNum
      },
      phoneNumber: {
        required,
        minLength: minLength(8),
        unicodeAlphaNum
      },
      city: {
        required,
        unicodeAlpha
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-secondary: color(secondary);
$color-primary: color(primary);
$gray-D8D8D8: color(gray-D8D8D8);
$gray-A3A3A3: color(gray-A3A3A3);
$gray-EEEEEE: color(gray-EEEEEE);

.shipping-field-title {
  font-size: 14px;
  font-weight: 500;
  color: $color-primary;
  margin-top: 15px;
  margin-bottom: 9px;
}

.shipping-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -7px;
  margin-right: -7px;

  .shipping-item {
    padding-left: 7px;
    padding-right: 7px;
    margin-bottom: 15px;
    min-width: 200px;
  }
}
.suggestion-block{
  position: relative;
  .suggestion-list{
    background: $gray-EEEEEE;
    border: solid 1px $gray-A3A3A3;
    position: absolute;
    top: -15px;
    width: 100%;
    z-index: 1;
    left: 0;
    padding: 5px 10px;
    span{
      display: block;
      font-size: 13px;
      line-height: 1.3;
      cursor: pointer;
      border-bottom: solid 1px $gray-A3A3A3;
      padding: 5px 0;
      width: 100%;
      &:last-child{
        border-bottom: 0px;
      }
    }
  }
}
.shipping-address-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 15px;

  .shipping-address-item {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    flex: 0 0 50%;
    max-width: 50%;

    .edit-addr-link {
      position: absolute;
      right: 10px;
      bottom: 10px;

      i {
        font-size: 18px;
        display: block;
      }
    }
  }
}
</style>

<style>
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
</style>
