<template>
  <footer id="site-footer" class="site-footer" v-if="!isCheckoutPage || isThankYouPage">
    <cms-block :identifier="'site_footer'" />
    <back-to-top bottom="20px" right="20px" visibleoffset="200">
      <button type="button" class="btn-top button no-outline brdr-none cl-white bg-cl-secondary :bg-cl-th-secondary">
        <i
          class="material-icons pointer"
          role="button"
        >
          expand_less
        </i>
      </button>
    </back-to-top>
  </footer>
</template>

<script>
import { mapGetters } from 'vuex'
import { currentStoreView, localizedRoute } from '@vue-storefront/core/lib/multistore'
import CurrentPage from 'theme/mixins/currentPage'
// import LanguageSwitcher from '../../LanguageSwitcher.vue'
// import Newsletter from 'theme/components/core/blocks/Footer/Newsletter'
import BackToTop from 'theme/components/core/BackToTop'
import { getPathForStaticPage } from 'theme/helpers'
import config from 'config'
// import FooterLogo from 'theme/components/core/FooterLogo'
import CmsBlock from 'theme/components/core/blocks/Cms/Block'

export default {
  mixins: [CurrentPage],
  name: 'MainFooter',
  methods: {
    goToAccount () {
      this.$bus.$emit('modal-toggle', 'modal-signup')
    },
    getLinkFor (path) {
      return localizedRoute(getPathForStaticPage(path))
    }
  },
  computed: {
    ...mapGetters({
      isLogged: 'user/isLoggedIn'
    }),
    multistoreEnabled () {
      return config.storeViews.multistore
    },
    getVersionInfo () {
      return `v${process.env.__APPVERSION__} ${process.env.__BUILDTIME__}`
    },
    isThankYouPage () {
      return this.$store.state.checkout.isThankYouPage
        ? this.$store.state.checkout.isThankYouPage
        : false
    }
  },
  components: {
    // Newsletter,
    // LanguageSwitcher,
    BackToTop,
    // FooterLogo,
    CmsBlock
  }
}
</script>

<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);
$white: color(white);

.icon {
  transition: 0.3s all;
}

.social-icon {
  width: 40px;
  height: 40px;
  &:hover,
  &:focus,
  &:active {
    .icon {
      fill: $color-secondary;
    }
  }
}
.links {
  list-style-type: none;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
}

.bottom-links {
  @media (max-width: 767px) {
    padding: 0;
  }
}

.footer__version-info {
  display: flex;
  color: $color-secondary;
  font-size: 0.7rem;
  @media (min-width: 768px) {
    margin-right: 1rem;
    font-size: 0.8rem;
  }
}

.underline {
  &:hover {
    color: $color-secondary;
    &:after {
      background-color: $color-secondary;
    }
  }
}
.legal-entity-link {
  text-align: center;
  @media (min-width: 768px) {
    display: none;
  }
}

.privacy-policy-link {
  text-align: right;
  @media (min-width: 768px) {
    display: none;
  }
}

@media (max-width: 595px) {
  .no-mobile {
    display: none;
  }

  .social {
    margin-top: 0;
  }

  .footer-links {
    padding-bottom: 30px;
  }
}

.top-footer {
  padding: 50px 0;
}

.bottom-footer {
  color: $white;
  background-color: $color-primary;
  padding: 20px 0;

  a {
    color: $white;

    &:hover {
      color: $color-secondary;
    }
  }
}

.footer-social {
  a {
    margin: 0 9px;

    &:hover {
      svg {
        rect, path {
          transition: all 0.3s ease 0s;
        }
        .fill-path {
          fill: $color-secondary;
        }
        .fill-rect {
          fill: $color-secondary;
        }
      }
    }
  }
}

.let-us-help-sec {
  .section {
    background-color: rgba($color-secondary, 0.2);
  }

  .let-us-help-title {
    font-size: 15px;
    display: inline-block;
    text-align: center;
    margin: 0;
    color: $color-secondary;
    background-color: $white;
    border: 2px solid $color-secondary;
    border-radius: 30px;
    font-weight: 400;
    padding: 6px 10px;

    &:hover {
      opacity: 0.8;
    }

    @media (max-width: 767px) {
      margin-bottom: 20px;
      font-size: 13px;

      i {
        font-size: 18px;
      }
    }

    & > * {
      vertical-align: middle;
      line-height: 1;
    }
  }

  .custom-list {
    li {
      @media (max-width: 767px) {
        margin-bottom: 14px;
        font-size: 12px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.footer-address {
  @media (max-width: 767px) {
    font-size: 14px;
  }
}

.btn-top {
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
</style>
