<template>
  <section class="main-slider w-100 bg-cl-white cl-white">
    <no-ssr>
      <carousel
        :per-page="1"
        :per-page-custom="[[768, 2], [1200, 3]]"
        :navigation-enabled="true"
        navigation-prev-label="<img src='assets/rounded-arrow-left.svg' alt='Left Arrow'>"
        navigation-next-label="<img src='assets/rounded-arrow-right.svg' alt='Right Arrow'>"
        :pagination-enabled="false"
        pagination-active-color="#ffffff"
        pagination-color="#D8D8D8"
        :autoplay="true"
        :loop="true"
        :autoplay-hover-pause="false"
        :scroll-per-page="false"
        :speed="1000"
        :autoplay-timeout="4000"
      >
        <slide v-for="(slide, index) in bannerData" :key="index">
          <div class="slide-wrap w-100">
            <router-link :to="localizedRoute(slide.link)" :title="slide.title" class="slide-item">
              <img :src="slide.image" :alt="slide.title" class="object-cover block">
              <div class="main-slider-btn-wrap">
                <span class="no-underline main-slider-btn">
                  {{ slide.title }}
                  <img class="ml10" src="assets/right-arrow-white.svg" alt="Right Arrow">
                </span>
              </div>
            </router-link>
          </div>
        </slide>
      </carousel>
    </no-ssr>
  </section>
</template>

<script>
import NoSSR from 'vue-no-ssr'
import sliderData from 'theme/resource/slider.json'

export default {
  props: {
    bannerData: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      currentSlide: 1,
      slides: [],
      totalSlides: 1
    }
  },
  components: {
    'Carousel': () => import('vue-carousel').then(Slider => Slider.Carousel),
    'Slide': () => import('vue-carousel').then(Slider => Slider.Slide),
    'no-ssr': NoSSR
  },
  methods: {
    updateSliderData (data) {
      this.slides = data.slides
      this.totalSlides = data.total
    }
  },
  mounted () {
    setInterval(() => {
      this.currentSlide = (this.currentSlide + 1) % (this.totalSlides)
    }, 5000)
  },
  created () {
    this.updateSliderData(sliderData)
  }
}
</script>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-white: color(white);
$blue-1895F5: color(blue-1895F5);

.main-slider {
  .VueCarousel-navigation-button {
    margin: 0 !important;
    padding: 0 !important;
    background-color: $color-white;
    cursor: pointer;
    padding: 9px 10px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    -webkit-box-shadow: 0 0 9px #ddd;
    box-shadow: 0 0 9px #ddd;
    text-align: center;
    svg {
      height: 18px;
      path {
        stroke: $blue-1895F5 !important;
      }
    }
    &.VueCarousel-navigation-prev {
      transform: translateY(-50%) translateX(25px);
    }
    &.VueCarousel-navigation-next {
      transform: translateY(-50%) translateX(-25px);
    }
    &.VueCarousel-navigation--disabled {
      opacity: 0.5;
    }
    &.VueCarousel-navigation-button:focus {
      outline: 0 none;
    }
    &:hover {
      background-color: $blue-1895F5 !important;
      svg {
        path {
          stroke: #fff !important;
        }
      }
    }
    @media (max-width: 767px) {
      width: 25px;
      height: 25px;
      padding: 5px 5px;
      svg {
        height: 12px;
      }
      &.VueCarousel-navigation-prev {
        transform: translateY(-50%) translateX(15px);
      }
      &.VueCarousel-navigation-next {
        transform: translateY(-50%) translateX(-15px);
      }
    }
  }

  .VueCarousel-pagination {
    position: absolute;
    bottom: 15px;
  }
  .VueCarousel-dot--active .VueCarousel-dot-inner {
    border: 2px solid $color-white;
    margin-top: -2px;
  }

  .main-slider-btn-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px 15px;
    text-align: center;
  }
}
</style>
<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);
$white: color(white);
.slide-item{
  display: block;
  position: relative;

  & > img {
    transition: all 0.5s ease 0s;
  }

  &:hover {
    & > img {
      opacity: 0.8;
    }
  }
}
h1 {
  font-size: 72px;
}
.slide-wrap {
  // height: 350px;
  position: relative;

  & > img {
    display: block;
  }
}

.main-slider-btn {
  font-size: 14px;
  font-weight: 600;
  color: $white;
  background-color: rgba($color-primary, 0.9);
  border-radius: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;

  img {
    width: 6px;
  }

  @media (max-width: 767px) {
    font-size: 10px;
    padding: 6px 20px;

    img {
      width: 5px;
    }
  }

  &:hover {
    background-color: rgba($color-secondary, 0.9);
  }
}
</style>
