<template>
  <button
    :class="{'active': isActive}"
    class="stock-selector"
    @click="$emit('change', variant)"
    :aria-label="$t('Select ' + variant.label)"
  >
    {{ getLabel(variant.label) }}
  </button>
</template>

<script>
import filterMixin from 'theme/mixins/filterMixin.ts'

export default {
  mixins: [filterMixin],
  methods: {
    getLabel (id) {
      return (parseInt(id)) ? this.$t('In Stock') : this.$t('Out of Stock');
    }
  }
}
</script>

<style lang="scss" scoped>
  @import '~theme/css/variables/colors';
  @import '~theme/css/helpers/functions/color';
  $color-active: color(secondary);
  $gray-666666: color(gray-666666);
  $gray-A3A3A3: color(gray-A3A3A3);

  .stock-selector {
    margin: 0 10px 5px 0;
    padding:10px;
    border: 1px solid $gray-666666;
    color: $gray-666666;
    font-size: 13px;
    line-height: 1;
    font-weight: 600;
    border-radius: 6px;
    background-color: rgba($gray-A3A3A3, 0.1);

    &:last-child {
      margin-right: 0;
    }

    &.active,
    &:hover {
      color: $color-active;
      border-color: $color-active;
      background-color: rgba($color-active, 0.1);
    }

    &:disabled {
      cursor: not-allowed;

      &.active,
      &:hover {
        color: $gray-666666;
        border-color: $gray-666666;
        background-color: rgba($gray-666666, 0.1);
      }
    }
  }
</style>
