<template>
  <div
    :class="['cms-content', { 'container': sync }]"
    v-if="getCmsData"
    v-html="assignValues(getCmsData.content)"
  />
</template>

<script>
import { isServer } from '@vue-storefront/core/helpers'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
export default {
  name: 'ThankYouBlock',
  props: {
    id: {
      type: Number,
      default: null,
      required: false
    },
    identifier: {
      type: String,
      default: null,
      required: false
    },
    sync: {
      type: Boolean,
      default: false,
      required: false
    },
    orderId: {
      type: Number,
      default: null,
      required: false
    },
    purchaseValue: {
      type: Number,
      default: null,
      required: false
    },
    referenceId: {
      type: String,
      default: null,
      required: false
    }
  },
  serverPrefetch () {
    return this.fetchCmsBlock()
  },
  created () {
    if (!isServer) {
      this.fetchCmsBlock()
    }
  },
  methods: {
    fetchCmsBlock () {
      let queryKey = ''
      let queryValue = ''
      if (this.id) {
        queryKey = 'id'
        queryValue = this.id
      } else if (this.identifier) {
        queryKey = 'identifier'
        queryValue = this.identifier
      }
      if (queryKey && queryValue) {
        return this.$store.dispatch('cmsBlock/single', {
          key: queryKey,
          value: queryValue
        })
      }
    },
    assignValues (value) {
      if (!value) return ''
      var keysArr = { '[ORDER_ID]': this.orderId, '[PURCHASE_VALUE]': this.$root.$options.filters.price(this.purchaseValue, currentStoreView()), '[REFERENCE_ID]': this.referenceId };
      Object.entries(keysArr).map((key) => {
        value = value.replace(key[0], key[1]);
      });
      return value;
    }
  },
  computed: {
    getCmsData () {
      if (this.id) {
        return this.$store.getters[`cmsBlock/getCmsBlockById`](this.id)
      } else if (this.identifier) {
        return this.$store.getters[`cmsBlock/getCmsBlockByIdentifier`](this.identifier)
      }
      return null
    }
  }
}
</script>
