<template>
  <div class="header">
    <header
      class="fixed w-100 bg-cl-secondary site-header"
      :class="{ 'is-visible': navVisible }"
      id="site-header"
    >
      <div class="top-header">
        <div class="container">
          <div class="row between-xs middle-xs">
            <div class="col-xs-6 col-md-4 col-lg-3 flex middle-xs py10">
              <hamburger-icon class="menu-btn pointer mr15" />
              <logo width="auto" height="auto" />
            </div>
            <div class="col-lg-6 col-xs-2 end-xs top-search-input" id="top-search-input">
              <search-icons />
            </div>
            <div class="col-xs-2 col-md-4 col-lg-3 flex end-xs px15 user-actions-wrap">
              <div class="flex center-xs user-actions">
                <div class="btn-wrap flex middle-xs center-xs">
                  <wishlist-icon class="icon pointer" />
                </div>
                <div class="btn-wrap flex middle-xs center-xs">
                  <account-icon class="icon pointer" />
                </div>
                <div class="btn-wrap flex middle-xs center-xs">
                  <microcart-icon class="icon pointer" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-header">
        <div class="container">
          <div class="flex between-xs nav-bar">
            <quick-links :menu-links="categories" />
            <div class="points-btn" v-show="currentUser">
              {{ $t('Your Points:') }} <span>{{ myRewards }}</span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="header-placeholder" />
    <no-ssr>
      <div v-if="isLoggedIn && currentUser">
        <div class="nosto_customer" style="display:none">
          <span class="email">{{ currentUser.email }}</span>
          <span class="first_name">{{ currentUser.firstname }}</span>
          <span class="last_name">{{ currentUser.lastname }}</span>
        </div>
      </div>
    </no-ssr>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import CurrentPage from 'theme/mixins/currentPage'
import AccountIcon from 'theme/components/core/blocks/Header/AccountIcon'
import HamburgerIcon from 'theme/components/core/blocks/Header/HamburgerIcon'
import Logo from 'theme/components/core/Logo'
import MicrocartIcon from 'theme/components/core/blocks/Header/MicrocartIcon'
import SearchIcons from 'theme/components/core/blocks/Header/SearchIcons'
import WishlistIcon from 'theme/components/core/blocks/Header/WishlistIcon'
import headerMenuData from 'theme/resource/home/home.json'
import { quickSearchByQuery } from '@vue-storefront/core/lib/search';
import SearchQuery from '@vue-storefront/core/lib/search/searchQuery';
import QuickLinks from 'src/modules/aureatelabs/quick-links/components/QuickLinks';
import NoSSR from 'vue-no-ssr'

export default {
  name: 'Header',
  components: {
    AccountIcon,
    HamburgerIcon,
    Logo,
    MicrocartIcon,
    SearchIcons,
    WishlistIcon,
    QuickLinks,
    'no-ssr': NoSSR
  },
  mixins: [CurrentPage],
  data () {
    return {
      navVisible: true,
      isScrolling: false,
      scrollTop: 0,
      lastScrollTop: 0,
      navbarHeight: 130,
      menuLinks: [],
      visibleProducts: [],
      quickLinksList: []
    }
  },
  computed: {
    isLoggedIn () {
      return this.$store.getters['user/isLoggedIn']
    },
    ...mapState({
      isOpenLogin: state => state.ui.signUp,
      currentUser: state => state.user.current,
      categoryList: state => state.category.list
    }),
    isThankYouPage () {
      return this.$store.state.checkout.isThankYouPage
        ? this.$store.state.checkout.isThankYouPage
        : false
    },
    categories () {
      return this.quickLinksList;
    },
    myRewards () {
      if (this.currentUser) {
        return this.currentUser.extension_attributes.rewardspoint
      }
      return 0;
    }
  },
  beforeMount () {
    window.addEventListener(
      'scroll',
      () => {
        this.isScrolling = true
      },
      { passive: true }
    )

    setInterval(() => {
      if (this.isScrolling) {
        this.hasScrolled()
        this.isScrolling = false
      }
    }, 250)
  },
  async created () {
    this.updateMenuData(headerMenuData);
    await this.$store.dispatch('quicklinks/list', {});
    this.quickLinksList = this.$store.getters['quicklinks/getQuickLinksList'] || [];
  },
  methods: {
    gotoAccount () {
      this.$bus.$emit('modal-toggle', 'modal-signup')
    },
    hasScrolled () {
      this.scrollTop = window.scrollY
      if (
        this.scrollTop > this.lastScrollTop &&
        this.scrollTop > this.navbarHeight
      ) {
        this.navVisible = false
      } else {
        this.navVisible = true
      }
      this.lastScrollTop = this.scrollTop
    },
    updateMenuData (data) {
      this.menuLinks = data.menuLinks
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-icon-hover: color(secondary, $colors-background);
$white: color(white);
$gray-666666: color(gray-666666);
$pink-FF6982: color(pink-FF6982);

header {
  // height: 135px;
  top: -136px;
  z-index: 3;
  transition: top 0.2s ease-in-out;
  &.is-visible {
    top: 0;
  }

  @media (max-width: 1200px) {
    height: 71px;
    top: -72px;
  }

  @media (max-width: 575px) {
    height: 54px;
    top: -55px;
  }
}
.right-icons {
  //for edge
  float: right;
}
.header-placeholder {
  height: 129px;

  @media (max-width: 1200px) {
    height: 71px;
  }

  @media (max-width: 575px) {
    height: 54px;
  }
}
.links {
  text-decoration: underline;
}
.top-header {
  border-bottom: 1px solid rgba(255,255,255,0.15);
}

.user-actions {
  border-left: 1px solid rgba(255,255,255,0.15);
  .btn-wrap {
    border-right: 1px solid rgba(255,255,255,0.15);
    flex-grow: 1;
    flex-basis: 0;
    button {
      padding: 13px 10px;
      @media (max-width: 1200px) {
        padding: 10px;
      }
      @media (max-width: 575px) {
        padding: 15px 8px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.points-btn {
  background-color: $white;
  color: $gray-666666;
  border-radius: 6px;
  overflow: hidden;
  padding: 8px 30px;
  font-size: 14px;
  font-weight: 500;

  span {
    font-weight: 700;
    color: $pink-FF6982;
  }
}

.bottom-header {
  .nav-bar{
    align-items: center;
  }
  @media (max-width: 1200px) {
    display: none;
  }
}

.user-actions-wrap {
  @media (max-width: 991px) {
    flex-basis: auto;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.top-search-input {
  @media (max-width: 991px) {
    flex-basis: auto;
    max-width: 100%;
    padding: 0;
    margin-left: auto;
  }
}
</style>

<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$white: color(white);

.icon {
  svg {
    circle,
    path {
      transition: all 0.5s ease 0s;
    }
  }
  &:hover,
  &:focus {
    svg {
      circle,
      path {
        fill-opacity: 1;
      }
    }
  }
}

.user-actions {
  button {
    & > span:not(.whishlist-count):not(.minicart-count) {
      @media (max-width: 575px) {
        display: none;
      }
    }
  }
}

.menu-btn {
  svg {
    @media (max-width: 575px) {
      width: 25px;
    }
  }
}
</style>
