<template>
  <modal name="modal-search-results" :width="1120">
    <div class="modal-search-results-wrap">
      <i
        slot="close"
        class="modal-close material-icons"
        @click="close"
        data-testid="closeModalButton"
      >
        close
      </i>
      <div class="modal-search-results-list-wrap" v-if="displayResult.length >= 1">
        <div class="modal-search-results-category-list" v-if="displayResult.length && categories.length >= 1">
          <category-panel :categories="categories" v-model="selectedCategoryIds" />
          <!-- <div class="modal-search-results-category-item" v-for="category of getCategories" :key="category.id" @click="displayResultOnCategoryClick(category.id)">
            {{ category.name }}
          </div> -->
        </div>
        <div class="modal-search-results-list row grid-view">
          <div class="modal-search-results-item col-xs-12 col-md-4 col-lg-3" v-for="product of displayResult" :key="product.id">
            <product-tile :product="product" @click.native="close" />
          </div>
        </div>
      </div>
      <div class="align-center h-100 flex middle-xs center-xs" v-if="displayResult.length === 0">
        <p class="f-s-16">
          {{ $t('No results were found.') }}
        </p>
      </div>
    </div>
  </modal>
</template>
<script>
import { productThumbnailPath } from '@vue-storefront/core/helpers'
import config from 'config'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import { formatProductLink } from '@vue-storefront/core/modules/url/helpers'
import Modal from 'theme/components/core/Modal'
import ProductTile from 'theme/components/core/ProductTile'
import CategoryPanel from 'theme/components/core/blocks/Category/CategoryPanel'

export default {
  name: 'SearchResult',
  props: {
    searchResult: {
      type: Array,
      required: true
    }
  },
  components: {
    Modal,
    ProductTile,
    CategoryPanel
  },
  data () {
    return {
      selectedCategoryIds: []
    }
  },
  computed: {
    storeView () {
      return currentStoreView();
    },
    displayResult () {
      const productList = this.searchResult || []
      if (this.selectedCategoryIds.length) {
        return productList.filter(product => product.category_ids.some(categoryId => {
          const catId = parseInt(categoryId)
          return this.selectedCategoryIds.includes(catId)
        }))
      }
      return productList
    },
    categories () {
      var discinctCategories = [];
      if (this.searchResult.length > 0) {
        const categories = this.searchResult
          .filter(p => p.category)
          .map(p => p.category)
          .flat()

        discinctCategories = Array.from(
          new Set(categories.map(c => c.category_id))
        ).map(catId => categories.find(c => c.category_id === catId))
      }
      return discinctCategories;
    }
  },
  methods: {
    getProductImage (product) {
      let thumbnailPath = productThumbnailPath(product);
      let thumbnail = this.getThumbnail(
        thumbnailPath,
        config.products.thumbnails.width,
        config.products.thumbnails.height
      );
      return {
        src: thumbnail,
        loading: thumbnail
      };
    },
    getSearchProductUrl (product) {
      return formatProductLink(product, currentStoreView().storeCode);
    },
    close (e) {
      this.$parent.closeSearchModal();
    }
  },
  watch: {
    categories () {
      this.selectedCategoryIds = []
    }
  }
};
</script>
<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray-666666: color(gray-666666);
$color-secondary: color(secondary);

.modal-search-results-wrap {
  padding: 40px;
  height: 100%;
  position: relative;

  .modal-search-results-list-wrap {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    padding-right: 20px;

    .modal-search-results-list {
      margin-left: -3%;
      margin-right: -3%;

      .modal-search-results-item {
        padding-left: 3%;
        padding-right: 3%;

        &:nth-child(n+5) {
          margin-top: 40px;
        }
      }
    }
  }

  .modal-close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
    &:hover {
      color: $color-secondary;
    }
  }
}
.modal-search-results-category-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
</style>
<style lang="scss">
.modal-search-results-category-list {
  .categories__heading {
    display: none;
  }
}
.modal-search-results-wrap {
  .info-btn-list {
    .info-btn-item.btn-yellow {
      width: 100%;
      margin: 10px 0 0 0;
    }
    .info-btn-item.btn-blue {
      width: 100%;
      margin: 10px 0 0 0;
    }
  }
  .product-tile-title {
    a {
      color: #333435;
    }
  }
}
</style>
