<template>
  <button
    type="button"
    class="btn-wishlist bg-cl-transparent brdr-none relative"
    @click="toggleWishlistPanel"
    :aria-label="$t('Open wishlist')"
  >
    <svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M17 1C20.3137 1 23 3.68629 23 7C23 12.9984 12 22 12 22C12 22 1 12.9996 1 7C1 3.68629 3.68629 1 7 1C9.08751 1 10.926 2.06607 12.0008 3.68347C13.074 2.06607 14.9125 1 17 1Z" fill="white" fill-opacity="0.1" stroke="white" stroke-width="1.5" />
    </svg>
    <span class="mt5 f-s-12 cl-white weight-500 block nowrap">{{ $t('Favorite') }}</span>
    <span
      class="whishlist-count absolute flex center-xs middle-xs border-box py0 px2 h6 lh16 weight-700 cl-white bg-cl-primary"
      v-cloak
      v-show="wishlistCount"
    >
      {{ wishlistCount }}
    </span>
  </button>
</template>

<script>
import WishlistIcon from '@vue-storefront/core/compatibility/components/blocks/Header/WishlistIcon'
import { mapGetters } from 'vuex'

export default {
  mixins: [WishlistIcon],
  methods: {
    toggleWishlistPanel () {
      if (this.isLoggedIn) {
        this.toggleWishlist()
      } else {
        this.$bus.$emit('modal-toggle', 'modal-signup')
      }
    }
  },
  computed: {
    isLoggedIn () {
      return this.$store.getters['user/isLoggedIn']
    },
    currentUser () {
      return this.$store.state.user.current
    },
    ...mapGetters({
      customWishlist: 'customWishlist/getCustomWishlistData'
    }),
    wishlistCount () {
      if (this.customWishlist !== undefined) {
        return this.customWishlist.length;
      } else {
        return 0
      }
    }
  },
  async mounted () {
    if (this.isLogged) {
      await this.$store.dispatch('customWishlist/list', this.currentUser.id)
    }
  }
}
</script>

<style scoped>
  .whishlist-count {
    top: 7px;
    left: 50%;
    min-width: 16px;
    min-height: 16px;
    border-radius: 10px;
  }
</style>
